<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.project.mapper.ProjectOpenApiMapper">
    <select id="getList" resultMap="getListMap">
        SELECT
            t.id
            ,t.project_name AS `name`
            ,t.create_time AS publishTime
            ,t.construction_requirement AS requirement
            ,t.cooperation_method as method
            ,t.company_name as company
            ,t.project_investment_content as investmentContent
            ,t.area_name as area
            ,t.project_phone as phone
            ,t.construction_condition
            ,t.industrial_condition
            ,t.market_outlook_forecast
            ,JSON_OBJECT("investmentTotal",t.investment_total,"fundingAmount",t.funding_amount, "privateCapital",t.private_capital, "paybackPeriod",t.payback_period) as target
            ,(SELECT JSON_ARRAYAGG( lb.`name`) FROM tb_project_label lb WHERE lb.id IN (SELECT rel.label_id FROM tb_project_label_relation rel WHERE rel.project_id = t.id)) as labels
            ,res.resource_url as video
            ,res.index_url as picture
        FROM tb_project_info t
        LEFT JOIN tb_project_resource res ON res.id = (SELECT t1.id FROM tb_project_resource t1 WHERE t1.project_id = t.id AND t1.resource_type = 1 AND t1.deleted = 0 LIMIT 0,1)
        <where>
            t.deleted = 0
            <if test="param.id != null and param.id != ''">
                and t.id = #{param.id}
            </if>
            <if test="param.label != null and param.label != ''">
                and t.id in (SELECT rel.project_id from tb_project_label_relation rel WHERE rel.label_id in (SELECT lb.id from tb_project_label lb WHERE lb.`name` = #{param.label}))
            </if>
            <if test="param.keyword != null and param.keyword != ''">
                and (t.project_name Like CONCAT('%',#{param.keyword},'%') Or t.company_name Like CONCAT('%',#{param.keyword},'%'))
            </if>
            <if test="param.area != null and param.area != ''">
                and t.area_name = #{param.area}
            </if>
        </where>
        <choose>
            <when test="param.orderType == 0">
                ORDER BY t.create_time desc
            </when>
            <otherwise>
                ORDER BY t.create_time asc
            </otherwise>
        </choose>
    </select>
    <resultMap id="getListMap" type="com.yjtech.wisdom.tourism.project.dto.ProjectOpenApiDTO">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="publishTime" column="publishTime" jdbcType="TIMESTAMP"/>
        <result property="requirement" column="requirement" jdbcType="VARCHAR"/>
        <result property="method" column="method" jdbcType="VARCHAR"/>
        <result property="company" column="company" jdbcType="VARCHAR"/>
        <result property="investmentContent" column="investmentContent" jdbcType="VARCHAR"/>
        <result property="area" column="area" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="target" column="target" typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.JsonTypeHandler"/>
        <result property="labels" column="labels" typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.JsonTypeHandler"/>
        <result property="video" column="video" jdbcType="VARCHAR"/>
        <result property="constructionCondition" column="construction_condition" jdbcType="VARCHAR"/>
        <result property="industrialCondition" column="industrial_condition" jdbcType="VARCHAR"/>
        <result property="marketOutlookForecast" column="market_outlook_forecast" jdbcType="VARCHAR"/>
        <result property="picture" column="picture" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAreaList" resultType="java.lang.String">
        SELECT DISTINCT t.area_name
        FROM tb_project_info t
        WHERE t.area_name != '' AND t.deleted = 0
        ORDER BY t.area_name desc
    </select>

    <select id="getLabelList" resultType="java.lang.String">
        SELECT DISTINCT t.`name`
        FROM tb_project_label t
        WHERE t.deleted = 0 AND t.`status` = 1
        ORDER BY t.`name` ASC
    </select>

</mapper>