<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.project.mapper.TbProjectInfoMapper">
    <resultMap id="BaseResultMap" type="com.yjtech.wisdom.tourism.project.entity.TbProjectInfoEntity">
        <!--@mbg.generated-->
        <!--@Table tb_project_info-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="construction_requirement" jdbcType="VARCHAR" property="constructionRequirement"/>
        <result column="cooperation_method" jdbcType="VARCHAR" property="cooperationMethod"/>
        <result column="project_site_scale" jdbcType="VARCHAR" property="projectSiteScale"/>
        <result column="project_plan_footprint" jdbcType="VARCHAR" property="projectPlanFootprint"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="project_build_area" jdbcType="VARCHAR" property="projectBuildArea"/>
        <result column="construction_condition" jdbcType="VARCHAR" property="constructionCondition"/>
        <result column="industrial_condition" jdbcType="VARCHAR" property="industrialCondition"/>
        <result column="market_outlook_forecast" jdbcType="VARCHAR" property="marketOutlookForecast"/>
        <result column="project_investment_content" jdbcType="VARCHAR" property="projectInvestmentContent"/>
        <result column="investment_total" jdbcType="VARCHAR" property="investmentTotal"/>
        <result column="funding_amount" jdbcType="VARCHAR" property="fundingAmount"/>
        <result column="private_capital" jdbcType="VARCHAR" property="privateCapital"/>
        <result column="payback_period" jdbcType="VARCHAR" property="paybackPeriod"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="company_address" jdbcType="VARCHAR" property="companyAddress"/>
        <result column="project_concat" jdbcType="VARCHAR" property="projectConcat"/>
        <result column="project_phone" jdbcType="VARCHAR" property="projectPhone"/>
        <result column="post_code" jdbcType="VARCHAR" property="postCode"/>
        <result column="contact_landline" jdbcType="VARCHAR" property="contactLandline"/>
        <result column="contact_email" jdbcType="VARCHAR" property="contactEmail"/>
        <result column="contact_fax" jdbcType="VARCHAR" property="contactFax"/>
        <result column="concat_qq" jdbcType="VARCHAR" property="concatQq"/>
        <result column="service_unit_name" jdbcType="VARCHAR" property="serviceUnitName"/>
        <result column="project_service_concat" jdbcType="VARCHAR" property="projectServiceConcat"/>
        <result column="project_service_phone" jdbcType="VARCHAR" property="projectServicePhone"/>
        <result column="project_service_landline" jdbcType="VARCHAR" property="projectServiceLandline"/>
        <result column="support_desc" jdbcType="VARCHAR" property="supportDesc"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <result column="view_num" jdbcType="INTEGER" property="viewNum"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
        <result column="latitude" jdbcType="VARCHAR" property="latitude"/>
        <result column="is_top" jdbcType="TINYINT" property="isTop"/>
        <result column="project_map" jdbcType="VARCHAR" property="projectMap"/>
        <result column="sort_num"  property="sortNum"/>
        <result column="audit_status"  property="auditStatus"/>
        <result column="audit_time"  property="auditTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, project_name, construction_requirement, cooperation_method, project_site_scale,
        project_plan_footprint, create_time, create_user, update_time, update_user, deleted,
        project_build_area, construction_condition, industrial_condition, market_outlook_forecast,
        project_investment_content, investment_total, funding_amount, private_capital, payback_period,
        company_name, company_address, project_concat, project_phone, post_code, contact_landline,
        contact_email, contact_fax, concat_qq, service_unit_name, project_service_concat,
        project_service_phone, project_service_landline, support_desc, `status`, company_id,view_num,
        area_code,area_name,address,longitude,latitude,is_top,project_map,sort_num
    </sql>

    <!-- 查询列表 -->
    <select id="queryForList" parameterType="com.yjtech.wisdom.tourism.project.dto.ProjectQuery"
            resultMap="BaseResultMap">
        select tpi.*, tami.status audit_status, tami.create_time audit_time
        from
        tb_project_info tpi left join tb_audit_manage_info tami on tpi.id = tami.source_id
        <where>
            tpi.deleted = 0
            and tami.status = 1
            <if test="params != null">
                <if test="params.projectName != null and params.projectName != ''">
                    and project_name LIKE CONCAT('%',#{params.projectName},'%')
                </if>
                <choose>
                    <when test="params.status != null and params.status.size > 0">
                        and tpi.status in
                        <foreach collection="params.status" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </when>
                    <otherwise>
                        and tpi.status != 4
                    </otherwise>
                </choose>
                <if test="params.areaCode != null and params.areaCode != ''">
                    and area_code LIKE CONCAT(#{params.areaCode},'%')
                </if>
                <if test="params.labelIdList != null and params.labelIdList.size > 0">
                    and tpi.id in
                    (select project_id from tb_project_label_relation
                    where
                    label_id in
                    <foreach collection="params.labelIdList" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    GROUP BY project_id)
                </if>
            </if>
        </where>
        ORDER BY sort_num asc , create_time DESC
    </select>

    <select id="queryProjectNumTrend" resultType="com.yjtech.wisdom.tourism.common.bean.BaseVO">
        SELECT
            DATE_FORMAT( create_time, '%c' ) `name`,
            COUNT( id ) `value`
        FROM
            tb_project_info
        WHERE
            status IN ( 0, 1, 2 )
            and create_time BETWEEN #{beginTime} AND #{endTime}
        GROUP BY
            `name`
    </select>

    <select id="queryAreaProjectNumPie" resultType="com.yjtech.wisdom.tourism.common.bean.BaseVO">
        SELECT
            area_name `name`,
            COUNT( id ) `value`
        FROM
            tb_project_info
        WHERE
            `status` IN ( 0, 1, 2 )
            and area_name is not null
        GROUP BY
            area_code
        ORDER BY value DESC
    </select>

    <select id="queryProjectPlanFootprintPie" resultType="com.yjtech.wisdom.tourism.common.bean.BaseVO">
        SELECT a.name,IFNULL(b.value ,0) value
        FROM
            ( SELECT '0-50亩' AS `name` UNION SELECT '50-100亩' AS `name` UNION SELECT '100-300亩' AS `name` UNION SELECT '300-500亩' AS `name` UNION SELECT '500亩以上' AS `name` ) a
            LEFT JOIN
            (SELECT name,COUNT(1) `value` FROM
            (
            SELECT
            CASE
            WHEN project_plan_footprint <![CDATA[>]]> 0 and project_plan_footprint <![CDATA[<=]]> 50 THEN '0-50亩'
            WHEN project_plan_footprint <![CDATA[>]]> 50 and project_plan_footprint <![CDATA[<=]]> 100  THEN '50-100亩'
            WHEN project_plan_footprint <![CDATA[>]]> 100 and project_plan_footprint <![CDATA[<=]]> 300  THEN '100-300亩'
            WHEN project_plan_footprint <![CDATA[>]]> 300 and project_plan_footprint <![CDATA[<=]]> 500  THEN '300-500亩'
            WHEN project_plan_footprint <![CDATA[>]]> 500 THEN '500亩以上' END `name`
            FROM
            tb_project_info
            WHERE
            project_plan_footprint IS NOT NULL
            and  status in (0,1,2)
            )t
            GROUP BY name) b
        ON a.name = b.name
    </select>

    <select id="queryInvestmentTotalTrend" resultType="com.yjtech.wisdom.tourism.project.dto.ProjectInvestmentDto">
        SELECT
            a.name,IFNULL(b.value,0) value, IFNULL(b.money,0) * 10000 as money, ifnull(convert(b.money/(select sum(investment_total) from tb_project_info WHERE investment_total IS NOT NULL), decimal(10,2)) * 100, 0) as scale
        FROM
        ( SELECT '百万级别' AS `name` UNION SELECT '千万级别' AS `name` UNION SELECT '亿级' AS `name` UNION SELECT '十亿级' AS `name` UNION SELECT '十亿级以上' AS `name` ) a
        LEFT JOIN
        (SELECT name,COUNT(name) `value`, CONVERT(sum(t.investment_total), DECIMAL(10,2)) money FROM
        (
        SELECT
        CASE
        WHEN investment_total >= 0.01 and investment_total &lt; 0.1 THEN '百万级别'
        WHEN investment_total >= 0.1 and investment_total &lt; 1 THEN '千万级别'
        WHEN investment_total >= 1 and investment_total &lt; 10 THEN '亿级'
        WHEN investment_total >= 10 and investment_total &lt; 100 THEN '十亿级'
        WHEN investment_total >= 100 THEN '十亿级以上' END `name`,
        investment_total
        FROM
        tb_project_info
        WHERE
        investment_total IS NOT NULL and deleted=0
        )t
        GROUP BY name) b
        ON a.name = b.name
    </select>

    <select id="queryProjectAmountTrend" resultType="com.yjtech.wisdom.tourism.project.vo.ProjectAmountVo">
        SELECT
            DATE_FORMAT( create_time, '%c' ) `name`,
            IFNULL(sum( investment_total ),0) investmentTotal,
            IFNULL(sum( funding_amount ),0) fundingAmount
        FROM
            tb_project_info
        WHERE
            `status` = 2 and
            create_time BETWEEN #{beginTime} AND #{endTime}
        GROUP BY
            `name`
    </select>

    <!-- 根据企业id查询项目id列表 -->
    <select id="queryIdListByCompanyId" resultType="long">
        SELECT id FROM tb_project_info
        WHERE
            deleted = 0
            and company_id = #{companyId}
    </select>

    <!-- 投资总额 -->
    <select id="getInvestmentTotal" resultType="java.lang.Long" parameterType="com.yjtech.wisdom.tourism.project.vo.InvestmentTotalVo">
        select
               sum(investment_total) * 10000
        from tb_project_info
        <where>
            investment_total IS NOT NULL and deleted=0
            <if test="params != null">
              <if test="params.beginTime != null and params.beginTime != ''">
                    and #{params.beginTime} &lt;= create_time
                </if>
                <if test="params.endTime != null and params.endTime != ''">
                    and #{params.endTime} &gt;= create_time
                </if>
            </if>
        </where>
    </select>

    <!-- 大屏-底部-注册公司、投资项目、规划项目占地统计 -->
    <select id="queryDataStatic" resultType="com.yjtech.wisdom.tourism.common.bean.BaseVO">
        select '注册公司' as name, count(id) as value from tb_register_info where blacklist = false and audit_status = 1 and company_info_finish_sign = 1
        union all  select '投资项目' as name, count(id) as value from tb_project_info where deleted = 0
        union all  select '规划项目占地' as name, Convert(sum(project_plan_footprint), DECIMAL(10,0)) as value from tb_project_info where deleted = 0
    </select>

    <!-- 根据时间区间查询数据统计 -->
    <select id="queryDataStatisticsByDuration" resultType="com.yjtech.wisdom.tourism.common.bean.index.DataStatisticsDTO"
            parameterType="com.yjtech.wisdom.tourism.common.bean.index.DataStatisticsQueryVO">
        SELECT COUNT(id) as currentMonthNum FROM tb_project_info
        <where>
            deleted = 0
            <if test="params != null">
                <if test="params.beginDate != null and params.endDate != null">
                    AND create_time BETWEEN #{params.beginDate} AND #{params.endDate}
                </if>
            </if>
        </where>
    </select>

    <!-- 查询趋势 -->
    <select id="queryAnalysis" resultType="com.yjtech.wisdom.tourism.common.bean.BaseVO"
            parameterType="com.yjtech.wisdom.tourism.common.bean.index.DataStatisticsQueryVO">
        SELECT DATE_FORMAT(dateInfo.mark,'%m/%d') AS name, COALESCE (dataInfo.num,0) AS value
        FROM
        (SELECT date_add(date_sub(#{params.beginDate}, INTERVAL 1 DAY), INTERVAL (CAST(help_topic_id AS signed) + 1) DAY) AS mark
        FROM mysql.help_topic
        WHERE help_topic_id &lt; DATEDIFF(#{params.endDate}, DATE_SUB(#{params.beginDate}, INTERVAL 1 DAY))) AS dateInfo
        LEFT JOIN
        (SELECT LEFT(create_time,10) as mark, COUNT(id) AS num
        FROM tb_project_info
        WHERE deleted = 0
        GROUP BY LEFT(create_time,10)) as dataInfo
        ON dateInfo.mark = dataInfo.mark
        ORDER BY dateInfo.mark
    </select>

    <!-- 查询浏览数趋势 -->
    <select id="queryViewNumAnalysis" resultType="com.yjtech.wisdom.tourism.common.bean.BaseVO"
            parameterType="com.yjtech.wisdom.tourism.common.bean.project.ProjectDataStatisticsQueryVO">
        SELECT DATE_FORMAT(dateInfo.mark,'%m/%d') AS name, COALESCE (dataInfo.num,0) AS value
        FROM
        (SELECT date_add(date_sub(#{params.beginDate}, INTERVAL 1 DAY), INTERVAL (CAST(help_topic_id AS signed) + 1) DAY) AS mark
        FROM mysql.help_topic
        WHERE help_topic_id &lt; DATEDIFF(#{params.endDate}, DATE_SUB(#{params.beginDate}, INTERVAL 1 DAY))) AS dateInfo
        LEFT JOIN
        (SELECT LEFT(update_time,10) as mark, view_num AS num
        FROM tb_project_info
        WHERE deleted = 0 and id = #{params.projectId}
        GROUP BY LEFT(update_time,10)) as dataInfo
        ON dateInfo.mark = dataInfo.mark
        ORDER BY dateInfo.mark
    </select>

    <select id="customPage" resultMap="BaseResultMap">
        select tpi.*, tami.status audit_status, tami.create_time audit_time
        from tb_project_info tpi
                 left join (select * from tb_audit_manage_info where deleted = 0) tami on tpi.id = tami.source_id
        <where>
            tpi.deleted = 0
            <if test="query.updateBeginTime != null">
                and tpi.update_time >= #{query.updateBeginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="query.updateEndTime != null">
                and tpi.update_time &lt;= #{query.updateEndTime,jdbcType=TIMESTAMP}
            </if>
            <if test="query.projectName != null and query.projectName != ''">
                and tpi.project_name like concat('%', #{query.projectName}, '%')
            </if>
            <if test="query.status != null and query.status.size() != 0">
                and tpi.status in
                <foreach collection="query.status" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.areaCodes != null and query.areaCodes.size() != 0">
                and tpi.area_code in
                <foreach collection="query.areaCodes" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.showStatus != null and query.showStatus == 1">
                and tpi.status != 4
            </if>
            <if test="query.companyId != null">
                and tpi.company_id = #{query.companyId,jdbcType=VARCHAR}
            </if>
            <if test="query.areaCode != null and query.areaCode != ''">
                and tpi.area_code like concat('%', #{query.areaCode,jdbcType=VARCHAR}, '%')
            </if>
            <if test="query.auditStatus != null">
                and tami.status in
                <foreach collection="query.auditStatus" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by sort_num, ifnull(tpi.update_time, tpi.create_time) desc
    </select>

    <select id="auditPage" resultMap="BaseResultMap">
      select tpi.*, taml.status audit_status, taml.create_time audit_time
      from tb_project_info tpi
             left join (select l.*
                        from tb_audit_manage_log l
                               right join (select max(l.id) max_id, source_id
                                           from tb_audit_manage_log l
                                                  left join
                                                (select *
                                                 from tb_audit_manage_process
                                                 where deleted = 0) p
                                                on l.process_id = p.id
                                           where l.deleted = 0
                                             and (
                                               (
                                                     p.user_ids like concat('%"', #{userId}, '"%')
                                                   and audit_user is null
                                                 )
                                               or audit_user = #{userId}
                                             )
                                           group by source_id) l1 on l.id = l1.max_id) taml
                       on tpi.id = taml.source_id
      <where>
        tpi.deleted = 0
          and taml.deleted = 0
        <if test="query.updateBeginTime != null">
          and tpi.update_time >= #{query.updateBeginTime,jdbcType=TIMESTAMP}
        </if>
        <if test="query.updateEndTime != null">
          and tpi.update_time &lt;= #{query.updateEndTime,jdbcType=TIMESTAMP}
        </if>
        <if test="query.projectName != null and query.projectName != ''">
          and tpi.project_name like concat('%', #{query.projectName}, '%')
        </if>
        <if test="query.status != null and query.status.size() != 0">
          and tpi.status in
          <foreach collection="query.status" item="item" index="index" separator="," open="(" close=")">
            #{item}
          </foreach>
        </if>
        <if test="query.areaCodes != null and query.areaCodes.size() != 0">
          and tpi.area_code in
          <foreach collection="query.areaCodes" item="item" index="index" separator="," open="(" close=")">
            #{item}
          </foreach>
        </if>
        <if test="query.areaCode != null and query.areaCode != ''">
          and tpi.area_code like concat('%', #{query.areaCode,jdbcType=VARCHAR}, '%')
        </if>
        <if test="query.auditStatus != null">
          and taml.status in
          <foreach collection="query.auditStatus" item="item" index="index" separator="," open="(" close=")">
            #{item}
          </foreach>
        </if>
      </where>
      order by sort_num, ifnull(tpi.update_time, tpi.create_time) desc
    </select>

    <select id="queryRecommendProject" resultMap="BaseResultMap">
        select tpi.*, tami.status audit_status, tami.create_time audit_time
        from tb_project_info tpi
        left join (select * from tb_audit_manage_info where deleted = 0) tami on tpi.id = tami.source_id
        <where>
            tpi.deleted = 0 and tpi.status != 4
            <if test="query.updateBeginTime != null">
                and tpi.update_time >= #{query.updateBeginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="query.updateEndTime != null">
                and tpi.update_time &lt;= #{query.updateEndTime,jdbcType=TIMESTAMP}
            </if>
            <if test="query.areaCodes != null and query.areaCodes.size() != 0">
                and tpi.area_code in
                <foreach collection="query.areaCodes" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.areaCode != null and query.areaCode != ''">
                and tpi.area_code = #{query.areaCode,jdbcType=VARCHAR}
            </if>
            <if test="query.auditStatus != null">
                and tami.status in
                <foreach collection="query.auditStatus" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by is_top desc ,sort_num ,view_num desc , ifnull(tpi.update_time, tpi.create_time) desc limit 10
    </select>

    <select id="statistics" resultType="com.yjtech.wisdom.tourism.project.vo.ProjectStatisticsVo">
      select count(1) `all`, sum(tami.status = 1 and tpi.status != 4) auditRunning, sum(tpi.status = 4) takeDown
      from tb_project_info tpi
             left join (select * from tb_audit_manage_info where deleted = 0) tami
                       on tpi.id = tami.source_id
      <where>
        tpi.deleted = 0
        <if test="areaCode != null and areaCode != ''">
          and area_code like concat(#{areaCode}, '%')
        </if>
      </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2023-11-01-->
    <update id="updateStatusById">
        update tb_project_info
        set `status`=#{updatedStatus,jdbcType=TINYINT}
        where id=#{id,jdbcType=BIGINT}
    </update>
</mapper>