<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.resource.auditmanage.mapper.AuditManageLogMapper">
  <resultMap id="BaseResultMap" type="com.yjtech.wisdom.tourism.resource.auditmanage.entity.AuditManageLog">
    <!--@mbg.generated-->
    <!--@Table tb_audit_manage_log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="source_id" jdbcType="BIGINT" property="sourceId" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="audit_user" jdbcType="BIGINT" property="auditUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, process_id, source_id, `text`, `status`, audit_user, create_time, create_user, 
    update_time, update_user, deleted
  </sql>

  <select id="auditLogList" resultMap="BaseResultMap">
    select l.*, u.nick_name username
    from tb_audit_manage_log l
           left join sys_user u on l.audit_user = u.user_id
    where source_id = #{id}
      and l.deleted = 0
      and u.deleted = 0
    order by l.create_time;
  </select>

<!--auto generated by MybatisCodeHelper on 2023-09-18-->
  <update id="updateByProcessIdAndSourceId">
    update tb_audit_manage_log
    <set>
      <if test="updated.id != null">
        id = #{updated.id,jdbcType=BIGINT},
      </if>
      <if test="updated.processId != null">
        process_id = #{updated.processId,jdbcType=BIGINT},
      </if>
      <if test="updated.sourceId != null">
        source_id = #{updated.sourceId,jdbcType=BIGINT},
      </if>
      <if test="updated.text != null">
        text = #{updated.text,jdbcType=VARCHAR},
      </if>
      <if test="updated.status != null">
        status = #{updated.status,jdbcType=TINYINT},
      </if>
      <if test="updated.auditUser != null">
        audit_user = #{updated.auditUser,jdbcType=BIGINT},
      </if>
      <if test="updated.createTime != null">
        create_time = #{updated.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updated.createUser != null">
        create_user = #{updated.createUser,jdbcType=BIGINT},
      </if>
      <if test="updated.updateTime != null">
        update_time = #{updated.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updated.updateUser != null">
        update_user = #{updated.updateUser,jdbcType=BIGINT},
      </if>
      <if test="updated.deleted != null">
        deleted = #{updated.deleted,jdbcType=BOOLEAN},
      </if>
    </set>
    where process_id=#{processId,jdbcType=BIGINT} and source_id=#{sourceId,jdbcType=BIGINT}
  </update>
</mapper>