<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.resource.auditmanage.mapper.AuditManageProcessMapper">
  <resultMap id="BaseResultMap" type="com.yjtech.wisdom.tourism.resource.auditmanage.entity.AuditManageProcess">
    <!--@mbg.generated-->
    <!--@Table tb_audit_manage_process-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="config_id" jdbcType="BIGINT" property="configId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="user_ids" jdbcType="VARCHAR" property="userIds" typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.ListLongJsonTypeHandler"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, config_id, sort, user_ids, create_time, create_user, update_time, update_user, 
    deleted
  </sql>

    <select id="nextProcess" resultMap="BaseResultMap">
        select *
        from tb_audit_manage_process
        where sort > (select sort
                      from tb_audit_manage_process
                      where id = (select process_id
                                  from tb_audit_manage_log
                                  where deleted = 0
                                    and source_id = #{sourceId}
                                  order by create_time desc
                                  limit 1))
          and config_id = (select config_id
                           from tb_audit_manage_process
                           where id = (select process_id
                                       from tb_audit_manage_log
                                       where deleted = 0
                                         and source_id = #{sourceId}
                                       order by create_time desc
                                       limit 1))
          and deleted = 0
        order by sort
    limit 1;
  </select>

<!--auto generated by MybatisCodeHelper on 2023-09-12-->
  <insert id="insertList">
        INSERT INTO tb_audit_manage_process(
        id,
        config_id,
        sort,
        user_ids,
        create_time,
        update_time,
        create_user,
        update_user,
        deleted
        )VALUES
        <foreach collection="list" item="element" index="index" separator=",">
            (
            #{element.id,jdbcType=BIGINT},
            #{element.configId,jdbcType=BIGINT},
            #{element.sort,jdbcType=INTEGER},
            #{element.userIds,jdbcType=VARCHAR,typeHandler=com.yjtech.wisdom.tourism.mybatis.typehandler.ListLongJsonTypeHandler},
            #{element.createTime,jdbcType=TIMESTAMP},
            #{element.updateTime,jdbcType=TIMESTAMP},
            #{element.createUser,jdbcType=BIGINT},
            #{element.updateUser,jdbcType=BIGINT},
            #{element.deleted,jdbcType=BOOLEAN}
            )
        </foreach>
    </insert>

<!--auto generated by MybatisCodeHelper on 2023-09-14-->
  <delete id="deleteByConfigId">
        delete from tb_audit_manage_process
        where config_id=#{configId,jdbcType=BIGINT}
    </delete>
</mapper>