<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjtech.wisdom.tourism.resource.wifi.mapper.WifiSummaryMapper">
    <resultMap id="BaseResultMap" type="com.yjtech.wisdom.tourism.resource.wifi.entity.WifiSummaryEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="scenic_spot_id" property="scenicSpotId" jdbcType="VARCHAR"/>
        <result column="record_time" property="recordTime" jdbcType="DATE"/>
        <result column="key" property="key" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, scenic_spot_id, record_time, `key`, phone, `type`
    </sql>

    <sql id="condition_sql_where">
        <if test="params.wifiType != null" >
            and `type` = #{params.wifiType,jdbcType=VARCHAR}
        </if>
        <if test="params.beginTime != null and params.endTime != null">
            and record_time >= #{params.beginTime} and record_time <![CDATA[<]]> #{params.endTime}
        </if>
    </sql>

    <select id="queryCurrentConnectNum" resultType="com.yjtech.wisdom.tourism.resource.wifi.dto.WifiBaseDto"
            parameterType="com.yjtech.wisdom.tourism.resource.wifi.query.WifiSummaryQuery">
        SELECT
        DATE_FORMAT( record_time, #{params.sqlDateFormat}) AS time,
        COUNT(*) AS quantity
        FROM
            tb_wifi_summary
        <where>
            <include refid="condition_sql_where"></include>
        </where>
        GROUP BY
            DATE_FORMAT( record_time, #{params.sqlDateFormat} )
    </select>

    <select id="queryConnectionDuration" resultType="com.yjtech.wisdom.tourism.resource.wifi.dto.WifiBaseDto"
            parameterType="com.yjtech.wisdom.tourism.resource.wifi.query.WifiSummaryQuery">
        SELECT
        `key` AS time,
        COUNT(*) AS quantity
        FROM
        tb_wifi_summary
        <where>
            <include refid="condition_sql_where"></include>
        </where>
        GROUP BY `key`
    </select>

</mapper>