<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.resource.ticket.mapper.TicketModelHourSummaryMapper">

    <sql id="condition_sql_where">
        <if test="params.year != null">
            and year = #{params.year}
        </if>
        <if test="params.month != null">
            and month = #{params.month}
        </if>
        <if test="params.day != null">
            and day = #{params.day}
        </if>
        <if test="params.hour != null">
            and hour = #{params.hour}
        </if>
        <if test="params.beginTime != null and params.endTime != null">
            and record_time >= #{params.beginTime} and record_time <![CDATA[<=]]> #{params.endTime}
        </if>
    </sql>


    <select id="queryTicketModelRanking" resultType="com.yjtech.wisdom.tourism.resource.ticket.vo.TicketRankingVO"
            parameterType="com.yjtech.wisdom.tourism.resource.ticket.query.TicketRankingQuery">
        SELECT
        model name,
        sum(quantity) AS value
        FROM
        tb_ticket_model_hour_summary
        <where>
            <include refid="condition_sql_where"></include>
        </where>
        GROUP BY
        model
        order by value desc
    </select>

</mapper>
