<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.resource.depot.mapper.DepotTrendSummaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjtech.wisdom.tourism.resource.depot.entity.DepotTrendSummaryEntity">
        <id column="summary_id" property="summaryId" />
        <result column="pass_direction" property="passDirection" />
        <result column="record_time" property="recordTime" />
        <result column="year" property="year" />
        <result column="month" property="month" />
        <result column="day" property="day" />
        <result column="hour" property="hour" />
        <result column="enter_quantity" property="enterQuantity" />
        <result column="exit_quantity" property="exitQuantity" />
    </resultMap>

    <sql id="condition_sql_where">
        <if test="params.year != null">
            and year = #{params.year}
        </if>
        <if test="params.month != null">
            and month = #{params.month}
        </if>
        <if test="params.day != null">
            and day = #{params.day}
        </if>
        <if test="params.hour != null">
            and hour = #{params.hour}
        </if>
        <if test="params.beginTime != null and params.endTime != null">
            and record_time >= #{params.beginTime} and record_time <![CDATA[<]]> #{params.endTime}
        </if>
    </sql>

    <select id="queryTrend" resultType="com.yjtech.wisdom.tourism.resource.depot.entity.vo.DepotTrendVo"
            parameterType="com.yjtech.wisdom.tourism.resource.depot.query.DepotSummaryQuery">
        SELECT
            DATE_FORMAT( record_time, #{params.sqlDateFormat} ) AS time,
            COALESCE(sum( enter_quantity ),0) AS enter_quantity,
            COALESCE(sum( exit_quantity ),0) AS exit_quantity
        FROM
            tb_depot_trend_summary
        <where>
            <include refid="condition_sql_where"></include>
        </where>
        GROUP BY
            DATE_FORMAT( record_time, #{params.sqlDateFormat} )
    </select>

</mapper>
