<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.systemconfig.chart.mapper.SystemconfigChartsMapper">
  <resultMap id="BaseResultMap" type="com.yjtech.wisdom.tourism.systemconfig.chart.entity.SystemconfigChartsEntity">
    <!--@mbg.generated-->
    <!--@Table tb_systemconfig_charts-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="chart_type" jdbcType="VARCHAR" property="chartType" />
    <result column="menu_type" jdbcType="VARCHAR" property="menuType" />
    <result column="service_url" jdbcType="VARCHAR" property="serviceUrl" />
    <result column="commponent_type" jdbcType="VARCHAR" property="commponentType" />
    <result column="list_type" jdbcType="VARCHAR" property="listType" />
    <result column="is_simulation" jdbcType="TINYINT" property="isSimulation" />
    <result column="sample_img" jdbcType="VARCHAR" property="sampleImg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="point_type" jdbcType="VARCHAR" property="pointType" />
    <result column="is_redirect" jdbcType="TINYINT" property="isRedirect" />
    <result column="redirect_id" jdbcType="BIGINT" property="redirectId" />
    <result column="index_item" jdbcType="VARCHAR" property="indexItem" />
    <result column="h5_redirect_id" jdbcType="VARCHAR" property="h5RedirectId" />
    <result column="h5_commponent_type" jdbcType="VARCHAR" property="h5CommponentType" />
    <result column="h5_sample_img" jdbcType="VARCHAR" property="h5SampleImg" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, chart_type, menu_type, service_url, commponent_type, list_type, is_simulation, 
    sample_img, create_time, update_time, create_user, update_user, deleted,point_type,is_redirect,redirect_id,index_item
    ,h5_redirect_id,h5_commponent_type,h5_sample_img
  </sql>

  <select id="queryForPage" resultType="com.yjtech.wisdom.tourism.systemconfig.chart.vo.SystemconfigChartsVo">
    select
    *
    from
            tb_systemconfig_charts a
      inner join sys_dict_data b on a.menu_type = b.dict_value
    where
    a.deleted = 0
    and b.status = 0
    and b.dict_type = 'config_menu_type'
    <if test="params != null and params.chartName != null and params.chartName != ''">
      and a.name like concat('%',#{params.chartName},'%')
    </if>
    <if test="params != null and params.menuName != null and params.menuName != ''">
      and b.dict_label like concat('%',#{params.menuName,jdbcType=VARCHAR},'%')
    </if>
    <if test="params != null and params.menuType != null and params.menuType != ''">
      and a.menu_type = #{params.menuType}
    </if>
    <if test="params.isH5 != null and params.isH5 == 1">
      and a.h5_commponent_type is not null and a.h5_commponent_type != ''
    </if>
    order by a.create_time desc,b.dict_sort
  </select>

  <select id="queryChartListForMenu" resultType="com.yjtech.wisdom.tourism.systemconfig.chart.vo.SystemconfigChartsVo">
    select
    *
    from
    tb_systemconfig_charts a
    inner join sys_dict_data b on a.menu_type = b.dict_value
    where
    a.deleted = 0
    and b.status = 0
    and b.dict_type = 'config_menu_type'
    <if test="params != null and params.menuType != null and params.menuType != ''">
      and b.dict_value = #{params.menuType}
    </if>
    order by a.create_time desc,b.dict_sort
  </select>

  <select id="findChartMenusNum" resultType="java.lang.Integer">
    select
    count(1)
    from
    tb_systemconfig_menu
    where
    deleted = 0
    and chart_data like concat('%',#{id},'%')
    </select>

  <select id="findMenuIsExistChart" resultType="java.lang.Integer">
    select
    count(1)
    from
    tb_systemconfig_charts
    where
    deleted = 0
    and redirect_id = #{id}
  </select>

  <select id="findChartAppMenusNum" resultType="java.lang.Integer">
    select
    count(1)
    from
    tb_systemconfig_app_menu
    where
    deleted = 0
    and chart_data like concat('%',#{id},'%')
  </select>
</mapper>