<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.event.mapper.EventStatusDailySummaryMapper">

    <select id="queryQuantityByStatus" resultType="integer"
            parameterType= "com.yjtech.wisdom.tourism.event.query.EventSumaryQuery">
        SELECT
        COALESCE(sum( quantity ),0) AS quantity
        FROM
        tb_event_status_daily_summary
        <where>
            <if test="params.beginTime != null and params.endTime != null">
                and record_date >= #{params.beginTime} and record_date <![CDATA[<]]> #{params.endTime}
            </if>
            <if test="params.eventStatus != null and params.eventStatus != ''">
                and status = #{params.eventStatus}
            </if>
        </where>
    </select>
</mapper>
