<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.marketing.mapper.MarketingHotelRoomMapper">

    <insert id="insertBatch" parameterType="list">
        insert into tb_marketing_hotel_room
        (id,create_time,update_time,create_user,update_user,deleted,tp_id,hotel_id,room_name,room_type,price,price_time,bed_type,area)
        values
        <foreach collection="params" item="item" index="index" separator="," >
            (#{item.id},#{item.createTime},#{item.updateTime},#{item.createUser},#{item.updateUser},#{item.deleted},#{item.tpId},#{item.hotelId},#{item.roomName},#{item.roomType},#{item.price},#{item.priceTime},#{item.bedType},#{item.area})
        </foreach>
        ON DUPLICATE KEY UPDATE tp_id = values(tp_id),
        hotel_id = values(hotel_id),
        room_name = values(room_name),
        room_type = values(room_type),
        price = values(price),
        price_time = values(price_time),
        bed_type = values(bed_type),
        area = values(area)
    </insert>

    <select id="queryRoomPriceStatistics" resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.RoomTypePriceScreenDTO"
            parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.RoomScreenQueryVO">
        select
        *
        from
        tb_marketing_hotel_room
        <where>
            <include refid="base_screen_query_condition"/>
        </where>
    </select>


    <sql id="base_screen_query_condition">
        <if test="params!=null">
            <if test=" params.hotelId != null and params.hotelId != ''">
                hotel_id = #{params.hotelId} and
            </if>
            <if test="params.beginTime != null">
                <![CDATA[ price_time >= #{params.beginTime} ]]> and
            </if>
            <if test="params.endTime != null">
                <![CDATA[ price_time <= #{params.endTime} ]]> and
            </if>
            deleted = 0
        </if>
    </sql>
</mapper>
