<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.marketing.mapper.MarketingPlaceMapper">

    <delete id="deleteAll">
        delete
        from
        tb_marketing_place
    </delete>

    <select id="getPlaceInfoList" parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.PlaceQueryVO"
            resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.PlaceInfoDTO">
        select
        tp_id as tpId,
        place_name as placeName,
        area_code as areaCode
        from
        tb_marketing_place
        where
        <if test="params!=null">
            <if test=" params.placeType != null">
                place_type = #{params.placeType} and
            </if>
        </if>
        deleted = 0
    </select>

    <sql id="query_where">
        <if test="params!=null">
            <if test=" params.objectName != null">
                object_name like CONCAT('%','${params.objectName}','%' ) and
            </if>
            <if test=" params.issueType != null">
                issue_type = #{params.issueType} and
            </if>
            <if test=" params.objectType != null">
                object_type = #{params.objectType} and
            </if>
            <if test=" params.areaCode != null">
                area_code like CONCAT('${params.areaCode}','%' ) and
            </if>
            deleted = 0
        </if>
    </sql>
</mapper>