<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.marketing.mapper.MarketingHotelRoomMapper">

    <insert id="insertBatch" parameterType="list">
        insert into tb_marketing_hotel_room
        (id,create_time,update_time,create_user,update_user,deleted,tp_id,hotel_id,room_name,room_type,price,price_time,bed_type,area)
        values
        <foreach collection="params" item="item" index="index" separator="," >
            (#{item.id},#{item.createTime},#{item.updateTime},#{item.createUser},#{item.updateUser},#{item.deleted},#{item.tpId},#{item.hotelId},#{item.roomName},#{item.roomType},#{item.price},#{item.priceTime},#{item.bedType},#{item.area})
        </foreach>
        ON DUPLICATE KEY UPDATE tp_id = values(tp_id),
        hotel_id = values(hotel_id),
        room_name = values(room_name),
        room_type = values(room_type),
        price = values(price),
        price_time = values(price_time),
        bed_type = values(bed_type),
        area = values(area)
    </insert>

    <!-- 查询房型价格统计 -->
    <select id="queryRoomPriceStatistics" resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.RoomTypePriceScreenDTO"
            parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.RoomScreenQueryVO">
        select
        MAX(hotelRoom.price) as highestPrice,
        MIN(hotelRoom.price) as lowestPrice,
        ROUND(SUM(hotelRoom.price)/COUNT(hotelRoom.id),1)as averagePrice
        from
        tb_marketing_hotel_room hotelRoom
        <choose>
            <when test="params.status == 1">
                INNER JOIN tb_hotel_info hotel ON hotel.id = hotelRoom.hotel_id and hotel.status = #{params.status}
            </when>
            <otherwise></otherwise>
        </choose>
        <where>
            <include refid="base_screen_query_condition"/>
        </where>
    </select>

    <!-- 查询最新房型列表 -->
    <select id="queryNewestRoomInfo" resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.NewestRoomScreenDTO"
            parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.RoomScreenQueryVO">
        select
        room_name as roomName,
        price as roomPrice,
        room_img as roomImg
        from
        tb_marketing_hotel_room
        <where>
            <if test="params!=null">
                <if test=" params.hotelId != null and params.hotelId != ''">
                    hotel_id = #{params.hotelId} and
                </if>
            </if>
            price_time = (select MAX(price_time) from tb_marketing_hotel_room <where> deleted = 0 </where>) and
            deleted = 0
        </where>
        ORDER BY roomPrice
    </select>

    <!-- 查询房型价格趋势 -->
    <select id="queryRoomPriceAnalysis" resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.RoomPriceAnalysisDTO"
            parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.RoomScreenQueryVO">
        select
        dateInfo.day as time,
        room.entiretyPrice as entiretyPrice,
        room.bigBedPrice as bigBedPrice,
        room.doubleBedPrice as doubleBedPrice,
        room.familyRoomPrice as familyRoomPrice,
        room.suiteRoomPrice as suiteRoomPrice
        from
        (select
        DATE_ADD(CURDATE(),INTERVAL (CAST(help_topic_id as signed) - 89) day) as day
        from
        mysql.help_topic
        <where>
            help_topic_id <![CDATA[ <= ]]> 89
        </where>
        ORDER BY help_topic_id) dateInfo
        LEFT JOIN
        (select
        hotelRoom.price_time,
        ROUND(SUM(hotelRoom.price)/COUNT(hotelRoom.id),1) as entiretyPrice,
        ROUND(SUM(CASE WHEN hotelRoom.room_type = 1 THEN hotelRoom.price ELSE 0 END)/SUM(CASE WHEN hotelRoom.room_type = 1 THEN 1 ELSE 0 END), 1) as bigBedPrice,
        ROUND(SUM(CASE WHEN hotelRoom.room_type = 2 THEN hotelRoom.price ELSE 0 END)/SUM(CASE WHEN hotelRoom.room_type = 2 THEN 1 ELSE 0 END), 1) as doubleBedPrice,
        ROUND(SUM(CASE WHEN hotelRoom.room_type = 3 THEN hotelRoom.price ELSE 0 END)/SUM(CASE WHEN hotelRoom.room_type = 3 THEN 1 ELSE 0 END), 1) as familyRoomPrice,
        ROUND(SUM(CASE WHEN hotelRoom.room_type = 4 THEN hotelRoom.price ELSE 0 END)/SUM(CASE WHEN hotelRoom.room_type = 4 THEN 1 ELSE 0 END), 1) as suiteRoomPrice
        from
        tb_marketing_hotel_room hotelRoom
        <choose>
            <when test="params.status == 1">
                INNER JOIN tb_hotel_info hotel ON hotel.id = hotelRoom.hotel_id and hotel.status = #{params.status}
            </when>
            <otherwise></otherwise>
        </choose>
        <where>
            <if test="params!=null">
                <if test=" params.hotelId != null and params.hotelId != ''">
                    hotelRoom.hotel_id = #{params.hotelId} and
                </if>
            </if>
            <![CDATA[ hotelRoom.price_time >= DATE_ADD(CURDATE(),INTERVAL -89 DAY) ]]> and
            <![CDATA[ hotelRoom.price_time <= CURDATE() ]]> and
            hotelRoom.deleted = 0
        </where>
        GROUP BY hotelRoom.price_time) room
        ON dateInfo.day = room.price_time
    </select>

    <!-- 查询房型价格分布 -->
    <select id="queryRoomTypePriceDistribution" resultType="com.yjtech.wisdom.tourism.common.bean.BaseVO"
            parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.RoomScreenQueryVO">
        select
        CASE
        WHEN hotelRoom.room_type = 1 THEN '大床房'
        WHEN hotelRoom.room_type = 2 THEN '双床房'
        WHEN hotelRoom.room_type = 3 THEN '亲子/家庭房'
        WHEN hotelRoom.room_type = 4 THEN '套房'
        ELSE '其他' END as name,
        ROUND(SUM(hotelRoom.price)/COUNT(hotelRoom.id),1)as value
        from
        tb_marketing_hotel_room hotelRoom
        <choose>
            <when test="params.status == 1">
                INNER JOIN tb_hotel_info hotel ON hotel.id = hotelRoom.hotel_id and hotel.status = #{params.status}
            </when>
            <otherwise></otherwise>
        </choose>
        <where>
            <include refid="base_screen_query_condition"/>
        </where>
        GROUP BY hotelRoom.room_type
    </select>


    <sql id="base_screen_query_condition">
        <if test="params!=null">
            <if test=" params.hotelId != null and params.hotelId != ''">
                hotelRoom.hotel_id = #{params.hotelId} and
            </if>
            <if test="params.beginTime != null">
                <![CDATA[ hotelRoom.price_time >= #{params.beginTime} ]]> and
            </if>
            <if test="params.endTime != null">
                <![CDATA[ hotelRoom.price_time <= #{params.endTime} ]]> and
            </if>
            hotelRoom.deleted = 0
        </if>
    </sql>
</mapper>
