<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.marketing.mapper.MarketingEvaluateMapper">

    <insert id="insertBatch" parameterType="list">
        insert into tb_marketing_evaluate
        (id,create_time,update_time,create_user,update_user,deleted,area_code,tp_id,place_id,place_name,evaluate_content,evaluate_time,evaluate_type,data_type,keywords,rate,resource_info,data_create_time,data_update_time,source_platform,source_platform_id)
        values
        <foreach collection="params" item="item" index="index" separator="," >
        (#{item.id},#{item.createTime},#{item.updateTime},#{item.createUser},#{item.updateUser},#{item.deleted},#{item.areaCode},#{item.tpId},#{item.placeId},#{item.placeName},#{item.evaluateContent},#{item.evaluateTime},#{item.evaluateType},#{item.dataType},#{item.keywords},#{item.rate},#{item.resourceInfo},#{item.dataCreateTime},#{item.dataUpdateTime},#{item.sourcePlatform},#{item.sourcePlatformId})
    </foreach>
    ON DUPLICATE KEY UPDATE tp_id = values(tp_id),
    place_id = values(place_id),
    place_name = values(place_name),
    evaluate_content = values(evaluate_content),
    evaluate_time = values(evaluate_time),
    evaluate_type = values(evaluate_type),
    data_type = values(data_type),
    keywords = values(keywords),
    rate = values(rate),
    resource_info = values(resource_info),
    data_create_time = values(data_create_time),
    data_update_time = values(data_update_time),
    source_platform = values(source_platform),
    source_platform_id = values(source_platform_id)
    </insert>


    <select id="getRankingInfo" parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.EvaluateRankingVO"
        resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.evaluate.EvaluateRankingInfo">
        select
        place_name as placeName,
        (select count(id)
        from tb_marketing_evaluate e
        <where>
            e.place_id = p.tp_id
            <if test="params!=null">
                <if test=" params.beginTime != null and params.beginTime != '' ">
                    and <![CDATA[ e.evaluate_time >= #{params.beginTime} ]]>
                </if>
                <if test=" params.endTime != null and params.endTime != '' ">
                    and <![CDATA[ e.evaluate_time <= #{params.endTime} ]]>
                </if>
            </if>
        </where>
        ) as count
        from
        tb_marketing_place p
        <where>
            <if test="params != null">
                <if test=" params.areaCode != null and params.areaCode != '' ">
                    p.area_code like CONCAT('${params.areaCode}','%' ) and
                </if>
                <if test=" params.dataTypeList != null ">
                    p.place_type in
                    <foreach collection="params.dataTypeList" item="item" index="index" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </if>
        </where>
        ORDER BY count DESC
        limit 10
    </select>

    <select id="getSourcesInfo" parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.ScreenAnalysisQueryVO"
            resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.evaluate.EvaluateDistributionInfo">
        select
        source_platform as distributionName,
        COALESCE (count(1),0) as distributionCount,
        COALESCE (ROUND((count(1)/(
        select count(id) from tb_marketing_evaluate
        <where>
            <include refid="query_screen_where"/>
        </where>
        )),3),0) as proportion
        from
        tb_marketing_evaluate
        <where>
            <include refid="query_screen_where"/>
        </where>
        GROUP BY source_platform
    </select>

    <select id="getBusinessInfo" parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.ScreenAnalysisQueryVO"
            resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.evaluate.EvaluateDistributionInfo">
        select
        case
        when data_type = 0 then '酒店'
        when data_type = 1 then '民宿'
        when data_type = 2 then '景点'
        when data_type = 3 then '门票'
        when data_type = 4 then '美食'
        when data_type = 5 then '购物'
        when data_type = 6 then '休闲娱乐'
        else '其他' end as distributionName,
        COALESCE (count(1),0) as distributionCount,
        COALESCE (ROUND(COALESCE (count(1),0) / (
        select count(id) from tb_marketing_evaluate
        <where>
            <include refid="query_screen_where"/>
        </where>
        ),3),0) as proportion
        from
        tb_marketing_evaluate
        <where>
            <include refid="query_screen_where"/>
        </where>
        GROUP BY data_type
    </select>

    <select id="getChartByProvince" parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.ScreenAnalysisQueryVO"
            resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.evaluate.EvaluateChartInfo">
        select
        a.city_abbreviate_name as areaName,
        COALESCE (e.evaluateCount,0) as evaluateCount
        from tb_sys_area a
        LEFT JOIN
        (select
        area_code,
        count(id) as evaluateCount
        from
        tb_marketing_evaluate
        <where>
            <include refid="query_screen_where"/>
        </where>
        GROUP BY LEFT(area_code,4)) e
        ON LEFT(a.code,4) = LEFT(e.area_code,4)
        <where>
            <if test="params!=null">
                <if test=" params.areaCode != null and params.areaCode != '' ">
                    a.province_code like CONCAT('${params.areaCode}','%' ) and
                </if>
            </if>
            a.county_code is null
        </where>
    </select>

    <select id="getChartByCity" parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.ScreenAnalysisQueryVO"
            resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.evaluate.EvaluateChartInfo">
        select
        a.county_abbreviate_name as areaName,
        COALESCE (e.evaluateCount,0) as evaluateCount
        from tb_sys_area a
        LEFT JOIN
        (select
        area_code,
        count(id) as evaluateCount
        from
        tb_marketing_evaluate
        <where>
            <include refid="query_screen_where"/>
        </where>
        GROUP BY LEFT(area_code,6)) e
        ON a.code = e.area_code
        <where>
            <if test="params!=null">
                <if test=" params.areaCode != null and params.areaCode != '' ">
                    a.city_code like CONCAT('${params.areaCode}','%' ) and
                </if>
            </if>
            a.county_abbreviate_name is not null
        </where>
    </select>

    <select id="getAnalysisDayInfo" parameterType="string"
            resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.evaluate.EvaluateAnalysisDayChartInfo">
        SELECT
        DATE_FORMAT(evaluate_time,'%Y-%m-%d') as evaluateTime,
        COALESCE (sum(case when data_type = 0 or data_type = 1 then 1 else 0 end),0) as restCount,
        COALESCE (sum(case when data_type = 2 then 1 else 0 end),0) as scenicAreaCount,
        COALESCE (sum(case when data_type = 4 then 1 else 0 end),0) as delicacyCount
        from tb_marketing_evaluate
        <where>
            <if test=" areaCode != null and areaCode != '' ">
                area_code like CONCAT('${areaCode}','%' ) and
            </if>
            <![CDATA[ evaluate_time >= DATE_FORMAT((SELECT DATE_SUB(CURDATE(),INTERVAL dayofyear(now())-1 DAY)),'%Y-%m-%d') and ]]>
            <![CDATA[ evaluate_time <= DATE_FORMAT(now(),'%Y-%m-%d') ]]>
        </where>
        GROUP BY DATE_FORMAT(evaluate_time,'%Y-%m-%d')
    </select>

    <select id="getAnalysisDayStatistics" parameterType="string"
            resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.evaluate.EvaluateAnalysisDayDTO">
        SELECT
        COALESCE (sum(case when data_type = 0 or data_type = 1 then 1 else 0 end),0) as restEvaluate,
        COALESCE (sum(case when data_type = 2 then 1 else 0 end),0) as scenicAreaEvaluate,
        COALESCE (sum(case when data_type = 4 then 1 else 0 end),0) as delicacyEvaluate
        from tb_marketing_evaluate
        <where>
            <if test=" areaCode != null and areaCode != '' ">
                area_code like CONCAT('${areaCode}','%' ) and
            </if>
            <![CDATA[ evaluate_time >= DATE_FORMAT((SELECT DATE_SUB(CURDATE(),INTERVAL dayofyear(now())-1 DAY)),'%Y-%m-%d') and ]]>
            <![CDATA[ evaluate_time <= DATE_FORMAT(now(),'%Y-%m-%d') ]]>
        </where>
    </select>

    <select id="getCurrentAnalysisMonthInfo" parameterType="string"
            resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.AnalysisMonthChartInfo">
        SELECT
        DATE_FORMAT(e.evaluate_time,'%Y-%m') as xTime,
        COALESCE (count(e.id),0) as yCount,
        ROUND(((count(e.id) -
        (select
        count(id)
        from
        tb_marketing_evaluate
        <where>
            <if test=" areaCode != null and areaCode != '' ">
                area_code like CONCAT('${areaCode}','%' ) and
            </if>
            evaluate_time like concat(left((SELECT DATE_SUB(e.evaluate_time,INTERVAL 1 YEAR)),7),'%')
        </where>
        ))/(select count(id)
        from
        tb_marketing_evaluate
        <where>
            <if test=" areaCode != null and areaCode != '' ">
                area_code like CONCAT('${areaCode}','%' ) and
            </if>
            evaluate_time like concat(left((SELECT DATE_SUB(e.evaluate_time,INTERVAL 1 YEAR)),7),'%')
        </where>

        )),3) as same,
        ROUND(((count(e.id) -
        (select count(id)
        from
        tb_marketing_evaluate
        <where>
            <if test=" areaCode != null and areaCode != '' ">
                area_code like CONCAT('${areaCode}','%' ) and
            </if>
            evaluate_time like concat(left((SELECT DATE_SUB(e.evaluate_time,INTERVAL 1 MONTH)),7),'%')
        </where>
        ))/(select count(id)
        from
        tb_marketing_evaluate
        <where>
            <if test=" areaCode != null and areaCode != '' ">
                area_code like CONCAT('${areaCode}','%' ) and
            </if>
            evaluate_time like concat(left((SELECT DATE_SUB(e.evaluate_time,INTERVAL 1 MONTH)),7),'%')
        </where>
        )),3) as sequential
        from tb_marketing_evaluate e
        <where>
            <if test=" areaCode != null and areaCode != '' ">
                area_code like CONCAT('${areaCode}','%' ) and
            </if>
            <![CDATA[ e.evaluate_time >= DATE_FORMAT((SELECT DATE_SUB(CURDATE(),INTERVAL dayofyear(now())-1 DAY)),'%Y-%m-%d') and ]]>
            <![CDATA[ e.evaluate_time <= DATE_FORMAT(now(),'%Y-%m-%d') ]]>
        </where>
        GROUP BY DATE_FORMAT(e.evaluate_time,'%Y-%m')
    </select>

    <select id="getLastAnalysisMonthInfo" parameterType="string"
            resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.AnalysisMonthChartInfo">
        SELECT
        DATE_FORMAT(evaluate_time,'%Y-%m') as xTime,
        COALESCE (count(id),0) as yCount
        from tb_marketing_evaluate
        <where>
            <if test=" areaCode != null and areaCode != '' ">
                area_code like CONCAT('${areaCode}','%' ) and
            </if>
            evaluate_time like concat(left((SELECT DATE_SUB(now(),INTERVAL 1 YEAR)),4),'%')
        </where>
        GROUP BY DATE_FORMAT(evaluate_time,'%Y-%m')
    </select>

    <select id="getAnalysisMonthStatistics" parameterType="string"
            resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.evaluate.EvaluateAnalysisMonthDTO">
        select
        (SELECT
        COALESCE (count(id),0) as yCount
        from tb_marketing_evaluate
        <where>
            <if test=" areaCode != null and areaCode != '' ">
                area_code like CONCAT('${areaCode}','%' ) and
            </if>
            evaluate_time like concat(left((SELECT DATE_SUB(NOW(),INTERVAL 1 YEAR)),4),'%')
        </where>
        ) as last,
        (SELECT
        COALESCE (count(id),0) as yCount
        from tb_marketing_evaluate
        <where>
            <if test=" areaCode != null and areaCode != '' ">
                area_code like CONCAT('${areaCode}','%' ) and
            </if>
            evaluate_time like concat(left(NOW(),4),'%')
        </where>
        ) as current
    </select>

    <sql id="query_screen_where">
        <if test="params!=null">
            <if test=" params.areaCode != null and params.areaCode != '' ">
                area_code like CONCAT('${params.areaCode}','%' )
            </if>
            <if test=" params.beginTime != null and params.beginTime != '' ">
                and <![CDATA[ evaluate_time >= #{params.beginTime} ]]>
            </if>
            <if test=" params.endTime != null and params.endTime != '' ">
                and <![CDATA[ evaluate_time <= #{params.endTime} ]]>
            </if>
        </if>
    </sql>

    <sql id="query_where">
        <if test="params!=null">
            <if test=" params.objectName != null">
                object_name like CONCAT('%','${params.objectName}','%' ) and
            </if>
            <if test=" params.issueType != null">
                issue_type = #{params.issueType} and
            </if>
            <if test=" params.objectType != null">
                object_type = #{params.objectType} and
            </if>
            <if test=" params.areaCode != null">
                area_code like CONCAT('${params.areaCode}','%' ) and
            </if>
            deleted = 0
        </if>
    </sql>
</mapper>
