<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.marketing.mapper.MarketingEvaluateMapper">

    <insert id="insertBatch" parameterType="list">
        insert into tb_marketing_evaluate
        (id,create_time,update_time,create_user,update_user,deleted,area_code,tp_id,place_id,place_name,evaluate_content,evaluate_time,evaluate_type,data_type,keywords,rate,resource_info,data_create_time,data_update_time,source_platform,source_platform_id)
        values
        <foreach collection="params" item="item" index="index" separator=",">
            (#{item.id},#{item.createTime},#{item.updateTime},#{item.createUser},#{item.updateUser},#{item.deleted},#{item.areaCode},#{item.tpId},#{item.placeId},#{item.placeName},#{item.evaluateContent},#{item.evaluateTime},#{item.evaluateType},#{item.dataType},#{item.keywords},#{item.rate},#{item.resourceInfo},#{item.dataCreateTime},#{item.dataUpdateTime},#{item.sourcePlatform},#{item.sourcePlatformId})
        </foreach>
        ON DUPLICATE KEY UPDATE tp_id = values(tp_id),
        place_id = values(place_id),
        place_name = values(place_name),
        evaluate_content = values(evaluate_content),
        evaluate_time = values(evaluate_time),
        evaluate_type = values(evaluate_type),
        data_type = values(data_type),
        keywords = values(keywords),
        rate = values(rate),
        resource_info = values(resource_info),
        data_create_time = values(data_create_time),
        data_update_time = values(data_update_time),
        source_platform = values(source_platform),
        source_platform_id = values(source_platform_id)
    </insert>


    <select id="queryEvaluateStatistics" resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.MarketingEvaluateStatisticsDTO"
            parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.EvaluateScreenQueryVO">
        select
        COUNT(id) as evaluateTotal,
        ROUND(SUM(CASE WHEN evaluate_type = 2 THEN 1 ELSE 0 END)/COUNT(id),3)*100 as satisfaction,
        ROUND(SUM(rate)/COUNT(id),1) as rate
        from
        tb_marketing_evaluate
        <where>
            <include refid="base_screen_query_condition"/>
        </where>
    </select>

    <select id="queryEvaluateTypeDistribution" resultType="com.yjtech.wisdom.tourism.common.bean.BasePercentVO"
            parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.EvaluateScreenQueryVO">
        select
        CASE
        WHEN evaluate_type = 0 THEN '差评'
        WHEN evaluate_type = 1 THEN '中评'
        WHEN evaluate_type = 2 THEN '好评'
        ELSE '其他' END as name,
        COUNT(id) as value,
        COALESCE (ROUND(COUNT(id)/total.totalNum, 3)*100,0) as rate
        from
        tb_marketing_evaluate as evaluate
        INNER JOIN
        (select
        count(id) as totalNum
        from
        tb_marketing_evaluate
        <where>
            <include refid="base_screen_query_condition"/>
        </where>
        ) as total ON 1 = 1
        <where>
            <include refid="base_screen_query_condition"/>
        </where>
        GROUP BY status
    </select>

    <select id="queryEvaluateHotRank" resultType="com.yjtech.wisdom.tourism.common.bean.BaseVO"
            parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.EvaluateScreenQueryVO">
        select
        keywords as name,
        COUNT(id) as value
        from
        tb_marketing_evaluate
        <where>
            <include refid="base_screen_query_condition"/>
        </where>
        GROUP BY keywords
    </select>

    <select id="queryForPage" resultType="com.yjtech.wisdom.tourism.marketing.pojo.dto.MarketingEvaluateListDTO"
            parameterType="com.yjtech.wisdom.tourism.marketing.pojo.vo.EvaluateScreenQueryVO">
        select
        id as id,
        place_id as placeId,
        place_name as placeName,
        evaluate_content as evaluateContent,
        evaluate_time as evaluateTime,
        evaluate_type as evaluateType,
        CASE
        WHEN evaluate_type = 0 THEN '差评'
        WHEN evaluate_type = 1 THEN '中评'
        WHEN evaluate_type = 2 THEN '好评'
        ELSE '其他' END as evaluateTypeDesc,
        rate as rate,
        source_platform as sourcePlatform,
        source_platform_id as sourcePlatformId
        from
        tb_marketing_evaluate
        <where>
            <if test="params != null">
                <if test="params.placeId != null and params.placeId != ''">
                    place_id = #{params.placeId} and
                </if>
                <if test="params.evaluateType != null">
                    evaluate_type = #{params.evaluateType} and
                </if>
                <if test="params.equipStatus != null">
                    equip_status = #{params.equipStatus} and
                </if>
                <if test="params.areaCode != null and params.areaCode != ''">
                    area_code LIKE CONCAT('${params.areaCode}','%') and
                </if>
                <if test="params.beginTime != null">
                    <![CDATA[ evaluate_time >= #{params.beginTime} ]]> and
                </if>
                <if test="params.endTime != null">
                    <![CDATA[ evaluate_time <= #{params.endTime} ]]> and
                </if>
            </if>
            deleted = 0
        </where>
        ORDER BY evaluate_time DESC
    </select>

    <sql id="base_screen_query_condition">
        <if test="params != null">
            <if test="params.placeId != null and params.placeId != ''">
                place_id = #{params.placeId} and
            </if>
            <if test="params.equipStatus != null">
                equip_status = #{params.equipStatus} and
            </if>
            <if test="params.areaCode != null and params.areaCode != ''">
                area_code LIKE CONCAT('${params.areaCode}','%') and
            </if>
            <if test="params.beginTime != null">
                <![CDATA[ evaluate_time >= #{params.beginTime} ]]> and
            </if>
            <if test="params.endTime != null">
                <![CDATA[ evaluate_time <= #{params.endTime} ]]> and
            </if>
        </if>
        deleted = 0
    </sql>

    <sql id="query_screen_where">
        <if test="params!=null">
            <if test=" params.areaCode != null and params.areaCode != '' ">
                area_code like CONCAT('${params.areaCode}','%' )
            </if>
            <if test=" params.beginTime != null and params.beginTime != '' ">
                and <![CDATA[ evaluate_time >= #{params.beginTime} ]]>
            </if>
            <if test=" params.endTime != null and params.endTime != '' ">
                and <![CDATA[ evaluate_time <= #{params.endTime} ]]>
            </if>
        </if>
    </sql>

    <sql id="query_where">
        <if test="params!=null">
            <if test=" params.objectName != null">
                object_name like CONCAT('%','${params.objectName}','%' ) and
            </if>
            <if test=" params.issueType != null">
                issue_type = #{params.issueType} and
            </if>
            <if test=" params.objectType != null">
                object_type = #{params.objectType} and
            </if>
            <if test=" params.areaCode != null">
                area_code like CONCAT('${params.areaCode}','%' ) and
            </if>
            deleted = 0
        </if>
    </sql>
</mapper>
