<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.hotel.mapper.TbHotelInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjtech.wisdom.tourism.hotel.entity.TbHotelInfoEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="lev" property="lev"/>
        <result column="type" property="type"/>
        <result column="address" property="address"/>
        <result column="contact" property="contact"/>
        <result column="mobile" property="mobile"/>
        <result column="phone" property="phone"/>
        <result column="img" property="img"
                typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.StringArrayTypeHandler"/>
        <result column="cover_img" property="coverImg"/>
        <result column="description" property="description"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="deleted" property="deleted"/>
        <result property="status" column="status"/>
        <result property="areaCode" column="area_code"/>
        <result property="roomNum" column="room_num"/>
        <result property="bedNum" column="bed_num"/>
        <result property="updateUser" column="update_user"/>
        <result property="avgRate" column="avgRate"/>
        <result column="declare_time" jdbcType="TIMESTAMP" property="declareTime"/>
        <!--<collection  property="houseTypeList" column="id"
                     select="com.yjtech.wisdom.tourism.hotel.mapper.TbHotelHouseTypeMapper.selectByHotelId">
        </collection >-->
    </resultMap>

    <!-- 大屏查询详情信息 -->
    <resultMap id="ScreenDetailResult" type="com.yjtech.wisdom.tourism.hotel.dto.HotelScreenDetailDTO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="lev" property="lev"/>
        <result column="type" property="type"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="img" property="img"
                typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.StringArrayTypeHandler"/>
        <result column="cover_img" property="coverImg"/>
        <result column="description" property="description"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result property="areaCode" column="area_code"/>
    </resultMap>

    <select id="list" resultMap="BaseResultMap"
            parameterType="com.yjtech.wisdom.tourism.hotel.entity.TbHotelInfoEntity">
        select
        <include refid="Base_Column_List"/>,ifnull(b.reception,0) yesterday_check_in_count
        from tb_hotel_info i
        left join (
        select hotel_id, sum(real_reception) as reception
        from tb_hotel_fill
        where date_format(fill_time, '%Y-%m-%d') = DATE_FORMAT(date_add(curdate(), interval - 1 day), '%Y-%m-%d')
        group by hotel_id
        ) b on id = b.hotel_id
        <where>
            <include refid="dynamic_where"/>
        </where>
    </select>


    <select id="apiList" resultMap="BaseResultMap"
            parameterType="com.yjtech.wisdom.tourism.hotel.entity.TbHotelInfoEntity">
        SELECT i.*, ROUND(sum(c.rate) / count(*), 1) avgRate
        from tb_hotel_info i
        left join tb_zc_comment c on
        i.id = c.target_id
        <where>
            <include refid="app_dynamic_where"/>
        </where>
        GROUP by i.name
        order by lev desc, i.create_time desc
    </select>


    <resultMap id="staticNum_result" type="com.yjtech.wisdom.tourism.hotel.vo.StaticNumVo">
        <result column="type" property="type"/>
        <result column="num" property="num"/>
    </resultMap>


    <select id="staticNum" resultMap="staticNum_result">
        SELECT count(`type`) num, `type` type
        from tb_hotel_info where deleted = 0
        and status = 1
        <if test="areaCode != null and areaCode != ''">
            and area_code like CONCAT('${areaCode}', '%')
        </if>
        GROUP by `type`
    </select>

    <select id="queryScreenPage" resultMap="ScreenDetailResult"
            parameterType="com.yjtech.wisdom.tourism.hotel.vo.HotelScreenQueryVO">
        select
        id as id,
        name as name,
        lev as lev,
        CASE
        WHEN lev = 0 THEN '三星以下'
        WHEN lev = 1 THEN '三星'
        WHEN lev = 2 THEN '四星'
        WHEN lev = 3 THEN '五星'
        ELSE '其他' END as levDesc,
        type as type,
        CASE
        WHEN type = 1 THEN '星级酒店'
        WHEN type = 2 THEN '非星级酒店'
        WHEN type = 3 THEN '客栈'
        WHEN type = 4 THEN '民宿'
        ELSE '其他' END as typeDesc,
        address as address,
        phone as phone,
        img as img,
        coverImg as coverImg,
        description as description,
        longitude as longitude,
        latitude as latitude,
        areaCode as areaCode,
        (120) as price
        from
        tb_hotel_info
        <where>
            <if test="params != null">
                <if test="params.areaCode != null and params.areaCode != ''">
                    area_code LIKE CONCACT('${params.areaCode}', '%') and
                </if>
                <if test="params.name != null and params.name != ''">
                    name LIKE CONCACT('%', '${params.name}', '%') and
                </if>
                <if test="params.status != null and params.status != ''">
                    status = #{params.status} and
                </if>
            </if>
            deleted = 0
        </where>
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name,
        lev,
        type,
        address,
        contact,
        mobile,
        phone,
        img,
        cover_img,
        description,
        longitude,
        latitude,
        create_time,
        update_time,
        create_user,
        deleted,
        status,
        area_code,
        room_num,
        bed_num,
        update_user,
        declare_time
    </sql>

    <sql id="app_dynamic_where">
        <if test="params != null">
            <if test="params.name != null">
                and i.name like CONCAT('%','${params.name}','%' )
            </if>
            <if test="params.lev != null">
                and i.lev = #{params.lev}
            </if>
            <if test="params.type != null">
                and i.type = #{params.type}
            </if>
            <if test="params.address != null">
                and i.address = #{params.address}
            </if>
            <if test="params.deleted != null">
                and i.deleted = #{params.deleted}
            </if>
            <if test="params.status != null">
                and i.status = #{params.status}
            </if>
            <if test="params.areaCode != null">
                <!--and area_code = #{params.areaCode}-->
                and area_code like CONCAT('${params.areaCode}','%' )
            </if>
            <if test="params.hotelIds != null and params.hotelIds.size > 0">
                and i.id in
                <foreach collection="params.hotelIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </if>
    </sql>


    <sql id="dynamic_where">
        <if test="params != null">
            <if test="params.id != null">
                and id = #{params.id}
            </if>
            <if test="params.name != null">
                and name like CONCAT('%','${params.name}','%' )
            </if>
            <if test="params.lev != null and params.lev != ''">
                and lev = #{params.lev}
            </if>
            <if test="params.type != null and params.type != ''">
                and type = #{params.type}
            </if>
            <if test="params.address != null">
                and address = #{params.address}
            </if>
            <if test="params.contact != null">
                and contact = #{params.contact}
            </if>
            <if test="params.mobile != null">
                and mobile = #{params.mobile}
            </if>
            <if test="params.phone != null">
                and phone = #{params.phone}
            </if>
            <if test="params.img != null">
                and img = #{params.img}
            </if>
            <if test="params.coverImg != null">
                and cover_img = #{params.coverImg}
            </if>
            <if test="params.description != null">
                and description = #{params.description}
            </if>
            <if test="params.longitude != null">
                and longitude = #{params.longitude}
            </if>
            <if test="params.latitude != null">
                and latitude = #{params.latitude}
            </if>
            <if test="params.createTime != null">
                and create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null">
                and update_time = #{params.updateTime}
            </if>
            <if test="params.createUser != null">
                and create_user = #{params.createUser}
            </if>
            <if test="params.deleted != null">
                and deleted = #{params.deleted}
            </if>
            <if test="params.status != null">
                and status = #{params.status}
            </if>
            <if test="params.areaCode != null">
                <!--and area_code = #{params.areaCode}-->
                and area_code like CONCAT('${params.areaCode}','%' )
            </if>
            <if test="params.hotelIds != null and params.hotelIds.size > 0">
                and id in
                <foreach collection="params.hotelIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </if>
    </sql>

    <sql id="distribution_where">

    </sql>


</mapper>
