<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.hotel.mapper.TbHotelHouseTypeMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjtech.wisdom.tourism.hotel.entity.TbHotelHouseTypeEntity">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="num" property="num" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="deleted" property="deleted" />
        <result column="hotel_id" property="hotelId" />
    </resultMap>

<select id="list" resultMap="BaseResultMap" parameterType="com.yjtech.wisdom.tourism.hotel.entity.TbHotelHouseTypeEntity" >
    select
    <include refid="Base_Column_List" />
    from tb_hotel_house_type
    <where>
      <include refid="dynamic_where" />
  </where>
</select>

<select id="selectByHotelId" resultMap="BaseResultMap" parameterType="long" >
    select
    <include refid="Base_Column_List" />
    from tb_hotel_house_type
    where hotel_id=#{id} and deleted=0
</select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, num, create_time, update_time, create_user, update_user, deleted, hotel_id
    </sql>

<sql id="dynamic_where">
    <if test="params!=null">
 <if test=" params.id != null" >
      and  id = #{params.id}
    </if>
 <if test=" params.name != null" >
      and  name = #{params.name}
    </if>
 <if test=" params.num != null" >
      and  num = #{params.num}
    </if>
 <if test=" params.createTime != null" >
      and  create_time = #{params.createTime}
    </if>
 <if test=" params.updateTime != null" >
      and  update_time = #{params.updateTime}
    </if>
 <if test=" params.createUser != null" >
      and  create_user = #{params.createUser}
    </if>
 <if test=" params.updateUser != null" >
      and  update_user = #{params.updateUser}
    </if>
 <if test=" params.deleted != null" >
      and  deleted = #{params.deleted}
    </if>
 <if test=" params.hotelId != null" >
      and  hotel_id = #{params.hotelId}
    </if>
    </if>
</sql>

</mapper>
