<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.system.mapper.SysRoleMapper">

	<resultMap type="com.yjtech.wisdom.tourism.infrastructure.core.domain.entity.SysRole" id="SysRoleResult">
		<id     property="roleId"       column="role_id"        />
		<result property="roleName"     column="role_name"      />
		<result property="roleKey"      column="role_key"       />
		<result property="roleSort"     column="role_sort"      />
		<result property="dataScope"    column="data_scope"     />
		<result property="status"       column="status"         />
		<result property="deleted"      column="deleted"       />
		<result property="createUser"     column="create_user"      />
		<result property="createTime"   column="create_time"    />
		<result property="updateUser"     column="update_user"      />
		<result property="updateTime"   column="update_time"    />
		<result property="remark"       column="remark"         />
		<result property="permissionType"       column="permission_type"         />
	</resultMap>
	
	<sql id="selectRoleVo">
	    select distinct r.role_id, r.role_name, r.role_key, r.role_sort, r.data_scope,
            r.status, r.deleted, r.create_time, r.remark, r.permission_type
        from sys_role r
	        left join sys_user_role ur on ur.role_id = r.role_id
	        left join sys_user u on u.user_id = ur.user_id
	        left join sys_dept d on u.dept_id = d.dept_id
    </sql>
    
    <select id="selectRoleList" parameterType="com.yjtech.wisdom.tourism.infrastructure.core.domain.entity.SysRole" resultMap="SysRoleResult">
		<include refid="selectRoleVo"/>
		where r.deleted = '0'
		<if test="args.roleName != null and args.roleName != ''">
			AND r.role_name like concat('%', #{args.roleName}, '%')
		</if>
		<if test="args.status != null and args.status != ''">
			AND r.status = #{args.status}
		</if>
		<if test="args.roleKey != null and args.roleKey != ''">
			AND r.role_key like concat('%', #{args.roleKey}, '%')
		</if>
		<if test="args.beginTime != null and args.beginTime != ''"><!-- 开始时间检索 -->
			and date_format(r.create_time,'%y%m%d') &gt;= date_format(#{args.beginTime},'%y%m%d')
		</if>
		<if test="args.endTime != null and args.endTime != ''"><!-- 结束时间检索 -->
			and date_format(r.create_time,'%y%m%d') &lt;= date_format(#{args.endTime},'%y%m%d')
		</if>
		<!-- 数据范围过滤 -->
		${args.params.dataScope}
		order by r.role_sort, create_time desc
	</select>
    
	<select id="selectRolePermissionByUserId" parameterType="java.lang.Long" resultMap="SysRoleResult">
		<include refid="selectRoleVo"/>
		WHERE r.deleted = '0' and ur.user_id = #{userId}
	</select>
	
	<select id="selectRoleAll" resultMap="SysRoleResult">
		<include refid="selectRoleVo"/>
	</select>
	
	<select id="selectRoleListByUserId" parameterType="java.lang.Long" resultType="java.lang.Integer">
		select r.role_id
        from sys_role r
	        left join sys_user_role ur on ur.role_id = r.role_id
	        left join sys_user u on u.user_id = ur.user_id
	    where u.user_id = #{userId}
	</select>
	
	<select id="selectRoleById" parameterType="java.lang.Long" resultMap="SysRoleResult">
		<include refid="selectRoleVo"/>
		where r.role_id = #{roleId}
	</select>
	
	<select id="selectRolesByUserName" parameterType="java.lang.String" resultMap="SysRoleResult">
		<include refid="selectRoleVo"/>
		WHERE r.deleted = '0' and u.user_name = #{userName}
	</select>
	
	<select id="checkRoleNameUnique" parameterType="java.lang.String" resultMap="SysRoleResult">
		<include refid="selectRoleVo"/>
		 where r.role_name=#{roleName} limit 1
	</select>
	
	<select id="checkRoleKeyUnique" parameterType="java.lang.String" resultMap="SysRoleResult">
		<include refid="selectRoleVo"/>
		 where r.role_key=#{roleKey} limit 1
	</select>
	
 	<insert id="insertRole" parameterType="com.yjtech.wisdom.tourism.infrastructure.core.domain.entity.SysRole" useGeneratedKeys="true" keyProperty="roleId">
 		insert into sys_role(
 			<if test="roleId != null and roleId != 0">role_id,</if>
 			<if test="roleName != null and roleName != ''">role_name,</if>
 			<if test="roleKey != null and roleKey != ''">role_key,</if>
 			<if test="roleSort != null and roleSort != ''">role_sort,</if>
 			<if test="dataScope != null and dataScope != ''">data_scope,</if>
 			<if test="status != null and status != ''">status,</if>
 			<if test="remark != null and remark != ''">remark,</if>
 			<if test="permissionType != null">permission_type,</if>
 			<if test="createUser != null and createUser != ''">create_user,</if>
 			create_time
 		)values(
 			<if test="roleId != null and roleId != 0">#{roleId},</if>
 			<if test="roleName != null and roleName != ''">#{roleName},</if>
 			<if test="roleKey != null and roleKey != ''">#{roleKey},</if>
 			<if test="roleSort != null and roleSort != ''">#{roleSort},</if>
 			<if test="dataScope != null and dataScope != ''">#{dataScope},</if>
 			<if test="status != null and status != ''">#{status},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
 			<if test="permissionType != null">#{permissionType},</if>
 			<if test="createUser != null and createUser != ''">#{createUser},</if>
 			sysdate()
 		)
	</insert>
	
	<update id="updateRole" parameterType="com.yjtech.wisdom.tourism.infrastructure.core.domain.entity.SysRole">
 		update sys_role
 		<set>
 			<if test="roleName != null and roleName != ''">role_name = #{roleName},</if>
 			<if test="roleKey != null and roleKey != ''">role_key = #{roleKey},</if>
 			<if test="roleSort != null and roleSort != ''">role_sort = #{roleSort},</if>
 			<if test="dataScope != null and dataScope != ''">data_scope = #{dataScope},</if>
 			<if test="status != null and status != ''">status = #{status},</if>
 			<if test="remark != null">remark = #{remark},</if>
 			<if test="permissionType != null">permission_type = #{permissionType},</if>
 			<if test="updateUser != null and updateUser != ''">update_user = #{updateUser},</if>
 			update_time = sysdate()
 		</set>
 		where role_id = #{roleId}
	</update>
	
	<update id="updateRoleStatus" parameterType="com.yjtech.wisdom.tourism.infrastructure.core.domain.entity.SysRole">
 		update sys_user set status = #{status} where user_id = #{userId}
	</update>
	
	<delete id="deleteRoleById" parameterType="java.lang.Long">
 		delete from sys_role where role_id = #{roleId}
 	</delete>
 	
 	<delete id="deleteRoleByIds" parameterType="java.lang.Long">
 	    update sys_role set deleted = '2' where role_id in
 		<foreach collection="array" item="roleId" open="(" separator="," close=")">
 			#{roleId}
        </foreach> 
 	</delete>
 	
</mapper> 