<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.integration.mapper.OneTravelApiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseListResultMap" type="com.yjtech.wisdom.tourism.integration.pojo.bo.onetravel.OneTravelComplaintListBO">
        <id column="id" property="id" />
        <result column="complaint_type" property="complaintObject" />
        <result column="user_name" property="complaintUser" />
        <result column="phone" property="complaintPhone" />
        <result column="status" property="complaintStatus" />
        <result column="complaint_content" property="complaintContent" />
        <result column="image" property="complaintImage" typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.JsonTypeHandler"/>
        <result column="happen_location" property="happenLocation" />
        <result column="complaint_time" property="complaintTime" />
        <result column="operate_content" property="operateContent" />
        <result column="operate_time" property="operateTime" />
        <result column="operate_user_name" property="operateUser" />
        <result column="evaluate_content" property="evaluateContent" />
        <result column="evaluate_time" property="evaluateTime" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
    </resultMap>

    <select id="queryVisitStatistics" resultType="com.yjtech.wisdom.tourism.integration.pojo.bo.onetravel.OneTravelVisitStatisticsBO">
        select
        SUM(sum_visit_uv_new) as userTotal,
        (select SUM(visit_times)
        from tb_magic_visit_pv
        <where>
            year = YEAR(now()) and
            month = MONTH(now()) and
            day = DAY(now())
        </where>) as todayActiveUser,
        SUM(visit_uv) as yesterdayActiveUser,
        SUM(sum_visit_pv) as visitTotal
        from
        tb_wx_visit_pv
        <where>
            deleted = 0
        </where>
    </select>

    <select id="queryUserAgeDistribution" resultType="com.yjtech.wisdom.tourism.common.bean.BasePercentVO">
        select
        name as name,
        SUM(value) as value,
        COALESCE (ROUND(SUM(value)/total.totalNum, 3)*100,0) as rate
        from
        tb_wx_age_distribution
        INNER JOIN
        (select
        SUM(value) as totalNum
        from
        tb_wx_age_distribution
        <where>
            deleted = 0
        </where>
        ) as total ON 1 = 1
        <where>
            deleted = 0
        </where>
        GROUP BY name
    </select>

    <!-- 查询用户年龄分布名称 -->
    <select id="queryUserAgeDistributionName" resultType="String">
        select
        name
        from
        tb_wx_age_distribution
        <where>
            deleted = 0
        </where>
        GROUP BY name
    </select>

    <select id="queryCityVisitStatistics"
            resultType="com.yjtech.wisdom.tourism.integration.pojo.bo.onetravel.OneTravelAreaVisitStatisticsBO">
        SELECT
        a.NAME as name,
        VALUE,
        code as code,
        longitude,
        latitude
        FROM
        ( SELECT NAME, sum( VALUE ) VALUE FROM `tb_wx_city_distributed` GROUP BY NAME ) a
        INNER JOIN (
        SELECT CODE
        ,
        NAME,
        longitude,
        latitude
        FROM
        `tb_dict_area`
        <where>
            <if test="params != null">
                <if test="params.areaCode != null and params.areaCode != ''">
                    code LIKE CONCAT(#{params.areaCode},'%') and
                </if>
            </if>
            LEVEL = 1
        </where>
        ) b ON POSITION( a.NAME IN b.NAME )
    </select>

    <select id="queryProvinceVisitStatistics"
            resultType="com.yjtech.wisdom.tourism.integration.pojo.bo.onetravel.OneTravelAreaVisitStatisticsBO">
        select
        CASE
        WHEN visitInfo.name = '香港' or visitInfo.name = '澳门' THEN CONCAT(visitInfo.name, '特别行政区')
        ELSE areaInfo.name END as name,
        areaInfo.code as code,
        areaInfo.longitude as longitude,
        areaInfo.latitude as latitude,
        SUM(visitInfo.value) as value
        from
        tb_wx_user_world visitInfo
        LEFT JOIN
        (select code, name, longitude, latitude
        from tb_dict_area
        <where>
            level = 0
        </where>) areaInfo ON POSITION( visitInfo.name IN areaInfo.name )
        <where>
            visitInfo.name not in ('其他','未知') and
            visitInfo.deleted = 0
        </where>
        GROUP BY visitInfo.name
    </select>


    <select id="queryDailySum"
            resultType="com.yjtech.wisdom.tourism.integration.pojo.bo.onetravel.OneTravelMagicVisitPvBO">
        select
        ifnull(sum(visit_persons), 0) as visitPersons,
        ifnull(sum(visit_times), 0) as visitTimes,
        ifnull(sum(magic_data), 0) as magicData
        from tb_magic_visit_pv
    </select>

    <select id="queryComplaintStatistics" resultType="integer"
            parameterType="com.yjtech.wisdom.tourism.integration.pojo.vo.OneTravelQueryVO">
        select
        count(id)
        from
        tb_complaint
        <where>
            <include refid="base_query_condition"/>
        </where>
    </select>

    <select id="queryComplaintForPage" resultMap="BaseListResultMap"
            parameterType="com.yjtech.wisdom.tourism.integration.pojo.vo.OneTravelQueryVO">
        select
        id,
        complaint_type,
        user_name,
        phone,
        status,
        CASE
        WHEN status = '1'THEN '待处理'
        WHEN status = '2'THEN '已处理'
        WHEN status = '3'THEN '已评价'
        ELSE '其他' END as complaintStatusDesc,
        complaint_content,
        image,
        happen_location,
        complaint_time,
        operate_content,
        operate_time,
        operate_user_name,
        evaluate_content,
        evaluate_time,
        longitude,
        latitude
        from
        tb_complaint
        <where>
            <include refid="base_query_condition"/>
        </where>
        ORDER BY complaint_time DESC
    </select>

    <select id="queryComplaintDistribution" resultType="com.yjtech.wisdom.tourism.common.bean.BasePercentVO"
            parameterType="com.yjtech.wisdom.tourism.integration.pojo.vo.OneTravelQueryVO">
        select
        CASE
        WHEN status = 1 THEN '待处理'
        WHEN status = 2 THEN '已处理'
        WHEN status = 3 THEN '已评价'
        ELSE '其他' END as name,
        COUNT(id) as value,
        COALESCE (ROUND(COUNT(id)/total.totalNum, 3)*100,0) as rate
        from
        tb_complaint as complaint
        INNER JOIN
        (select
        count(id) as totalNum
        from
        tb_complaint
        <where>
            <include refid="base_query_condition"/>
        </where>
        ) as total ON 1 = 1
        <where>
            <include refid="base_query_condition"/>
        </where>
        GROUP BY status
    </select>

    <!-- 查询微信城市分布 -->
    <select id="queryUserCityTotalSum" resultType="long">
        SELECT
        SUM(value) as sumValue
        FROM tb_wx_city_distributed
    </select>

    <!-- 查询微信省级、直辖市、自治区、特别行政区分布 -->
    <select id="queryUserProvinceTotalSum" resultType="long">
        SELECT
        SUM(value) as sumValue
        FROM tb_wx_user_world
    </select>

    <!-- 查询一码游投诉今年搜索月趋势 -->
    <select id="queryComplaintCurrentAnalysisMonthInfo" parameterType="com.yjtech.wisdom.tourism.integration.pojo.vo.OneTravelQueryVO"
            resultType="com.yjtech.wisdom.tourism.common.bean.AnalysisMonthChartInfo">
        SELECT
        DATE_FORMAT(a.complaint_time,#{params.sqlDateFormat}) as time,
        COUNT(a.id) as count,
        ROUND(((COUNT(a.id) -
        (select
        COUNT(id)
        from
        tb_complaint
        <where>
            <if test="params.areaCode != null and params.areaCode != ''">
                area_code like CONCAT('${params.areaCode}','%' ) and
            </if>
            complaint_time like concat(left((SELECT DATE_SUB(a.complaint_time,INTERVAL 1 YEAR)),7),'%') and
            deleted = 0
        </where>
        ))/(select COUNT(id)
        from
        tb_complaint
        <where>
            <if test="params.areaCode != null and params.areaCode != ''">
                area_code like CONCAT('${params.areaCode}','%' ) and
            </if>
            complaint_time like concat(left((SELECT DATE_SUB(a.complaint_time,INTERVAL 1 YEAR)),7),'%')and
            deleted = 0
        </where>
        )),3)*100 as same,
        ROUND(((COUNT(a.id) -
        (select COUNT(id)
        from
        tb_complaint
        <where>
            <if test="params.areaCode != null and params.areaCode != ''">
                area_code like CONCAT('${params.areaCode}','%' ) and
            </if>
            complaint_time like concat(left((SELECT DATE_SUB(a.complaint_time,INTERVAL 1 MONTH)),7),'%')and
            deleted = 0
        </where>
        ))/(select COUNT(id)
        from
        tb_complaint
        <where>
            <if test="params.areaCode != null and params.areaCode != ''">
                area_code like CONCAT('${params.areaCode}','%' ) and
            </if>
            complaint_time like concat(left((SELECT DATE_SUB(a.complaint_time,INTERVAL 1 MONTH)),7),'%')and
            deleted = 0
        </where>
        )),3)*100 as sequential
        from tb_complaint a
        <where>
            <if test="params.areaCode != null and params.areaCode != ''">
                area_code like CONCAT('${params.areaCode}','%' ) and
            </if>
            <![CDATA[ a.complaint_time >= CONCAT(YEAR(now()),'-01-01 00:00:00') and ]]>
            <![CDATA[ a.complaint_time <= CONCAT(YEAR(now()),'-12-31 23:59:59') and ]]>
            deleted = 0
        </where>
        GROUP BY DATE_FORMAT(a.complaint_time,#{params.sqlDateFormat})
    </select>

    <!-- 查询一码游投诉去年搜索月趋势 -->
    <select id="queryComplaintLastAnalysisMonthInfo" parameterType="com.yjtech.wisdom.tourism.integration.pojo.vo.OneTravelQueryVO"
            resultType="com.yjtech.wisdom.tourism.common.bean.AnalysisMonthChartInfo">
        SELECT
        DATE_FORMAT(complaint_time,#{params.sqlDateFormat}) as time,
        COUNT(id) as count
        from tb_complaint
        <where>
            <if test="params.areaCode != null and params.areaCode != ''">
                area_code like CONCAT('${params.areaCode}','%' ) and
            </if>
            complaint_time like concat(YEAR(now())-1,'%')
        </where>
        GROUP BY DATE_FORMAT(complaint_time,#{params.sqlDateFormat})
    </select>

    <sql id="base_query_condition">
        <if test="params != null">
            <if test="params.beginTime != null">
                <![CDATA[ create_time >= #{params.beginTime} ]]> and
            </if>
            <if test="params.endTime != null">
                <![CDATA[ create_time <= #{params.endTime} ]]> and
            </if>
            <if test="params.complaintStatus != null and params.complaintStatus != ''">
                <![CDATA[ status = #{params.complaintStatus} ]]> and
            </if>
        </if>
        deleted = 0
    </sql>
</mapper>
