<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.bigscreen.mapper.TbFavoriteMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjtech.wisdom.tourism.bigscreen.entity.TbFavoriteEntity">
        <result column="id" property="id"/>
        <result column="company_id" property="companyId"/>
        <result column="favorite_id" property="favoriteId"/>
        <result column="type" property="type"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="list" resultMap="BaseResultMap"
            parameterType="com.yjtech.wisdom.tourism.bigscreen.entity.TbFavoriteEntity">
        select
        <include refid="Base_Column_List"/>
        from tb_favorite
        <where>
            <include refid="dynamic_where"/>
        </where>
    </select>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        company_id,
        favorite_id,
        type,
        create_time,
        update_time,
        deleted,
        status
    </sql>

    <sql id="dynamic_where">
        <if test="params != null">
            <if test="params.id != null">
                and id = #{params.id}
            </if>
            <if test="params.companyId != null">
                and company_id = #{params.companyId}
            </if>
            <if test="params.favoriteId != null">
                and favorite_id = #{params.favoriteId}
            </if>
            <if test="params.type != null">
                and type = #{params.type}
            </if>
            <if test="params.createTime != null">
                <!--  and  create_time between #{params.beginDate} and #{params.endDate}  -->
                and create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null">
                <!--  and  update_time between #{params.beginDate} and #{params.endDate}  -->
                and update_time = #{params.updateTime}
            </if>
            <if test="params.deleted != null">
                and deleted = #{params.deleted}
            </if>
            <if test="params.status != null">
                and status = #{params.status}
            </if>
        </if>
    </sql>

    <select id="queryMyfavorites" resultType="com.yjtech.wisdom.tourism.bigscreen.dto.MyFavoritesVo">
        select *
        from
        (
        select ri.company_name                                       name,
        ri.label                                              label,
        case
        when ri.type = 1 then investment_direction
        when ri.type = 2 then commercial_direction
        when ri.type = 3 then operation_direction end direction,
        null                                                  requirement,
        null                                                  cooperation,
        f.create_time,f.type,ri.type companyType,ri.id
        from tb_favorite f
        left join tb_register_info ri on f.favorite_id = ri.id
        <where>
            f.type = 1
            and ri.deleted = 0 and f.deleted=0 and f.favorite_type =1
            <if test="companyId != null">
                and f.company_id = #{companyId}
            </if>
        </where>
        union
        select ri.project_name             name,
        '项目'                        label,
        null                        direction,
        ri.construction_requirement requirement,
        ri.cooperation_method       cooperation,
        f.create_time,f.type,null companyType,ri.id
        from tb_favorite f
        left join tb_project_info ri on f.favorite_id = ri.id
        <where>

            f.type = 2
            and ri.deleted = 0 and f.deleted=0 and f.favorite_type =1
            <if test="companyId != null">
                and f.company_id = #{companyId}
            </if>
        </where>
        ) a
        order by create_time desc
    </select>

    <!-- 查询数据统计 -->
    <select id="queryDataStatistics" resultType="com.yjtech.wisdom.tourism.common.bean.project.ProjectDataStatisticsDTO"
            parameterType="com.yjtech.wisdom.tourism.common.bean.project.ProjectDataStatisticsQueryVO">
        SELECT
        COALESCE(SUM(CASE WHEN favorite_type = 1 THEN 1 ELSE 0 END),0) as collectNum,
        COALESCE(SUM(CASE WHEN favorite_type = 2 THEN 1 ELSE 0 END),0) as likeNum
        FROM
        tb_favorite
        <where>
            deleted = 0
            <if test="params != null">
                <if test="params.projectId != null">
                    and favorite_id = #{params.projectId}
                </if>
                <if test="params.favouriteSource != null">
                    and type = #{params.favouriteSource}
                </if>
            </if>
        </where>
    </select>

    <!-- 查询数据趋势 -->
    <select id="queryAnalysis" resultType="com.yjtech.wisdom.tourism.common.bean.BaseVO"
            parameterType="com.yjtech.wisdom.tourism.common.bean.project.ProjectDataStatisticsQueryVO">
        SELECT DATE_FORMAT(dateInfo.mark,'%m/%d') AS name, COALESCE (dataInfo.num,0) AS value
        FROM
        (SELECT date_add(date_sub(#{params.beginDate}, INTERVAL 1 DAY), INTERVAL (CAST(help_topic_id AS signed) + 1) DAY) AS mark
        FROM mysql.help_topic
        WHERE help_topic_id &lt; DATEDIFF(#{params.endDate}, DATE_SUB(#{params.beginDate}, INTERVAL 1 DAY))) AS dateInfo
        LEFT JOIN
        (SELECT LEFT(create_time,10) as mark, COUNT(id) AS num
        FROM tb_favorite
        WHERE deleted = 0
        and type = #{params.favouriteSource}
        and favorite_type = #{params.favouriteType}
        and favorite_id = #{params.projectId}
        GROUP BY LEFT(create_time,10)) as dataInfo
        ON dateInfo.mark = dataInfo.mark
        ORDER BY dateInfo.mark
    </select>

</mapper>
