<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.bigscreen.mapper.TbRegisterInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjtech.wisdom.tourism.bigscreen.entity.TbRegisterInfoEntity">
        <id column="id" property="id"/>
        <result column="company_name" property="companyName"/>
        <result column="company_type" property="companyType"/>
        <result column="company_name_en" property="companyNameEn"/>
        <result column="phone" property="phone"/>
        <result column="pwd" property="pwd"/>
        <result column="address" property="address"/>
        <result column="email" property="email"/>
        <result column="longtitude" property="longtitude"/>
        <result column="latitude" property="latitude"/>
        <result column="label" property="label"/>
        <result column="registered_capital" property="registeredCapital"/>
        <result column="registered_year" property="registeredYear"/>
        <result column="main_business" property="mainBusiness"/>
        <result column="business_scope" property="businessScope"/>
        <result column="investment_direction" property="investmentDirection"/>
        <result column="investment_project" property="investmentProject"/>
        <result column="qualification_imgs" property="qualificationImgs"/>
        <result column="commercial_direction" property="commercialDirection"/>
        <result column="operation_direction" property="operationDirection"/>
        <result column="type" property="type" typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.ListJsonTypeHandler"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="deleted" property="deleted"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="blacklist" property="blacklist"/>
        <result column="audit_time" property="auditTime"/>
        <result column="area_code" property="areaCode"/>
        <result column="province_name" property="provinceName"/>
        <result column="city_name" property="cityName"/>
        <result column="county_name" property="countyName"/>
        <result column="contact" property="contact"/>
        <result column="data_permissions" property="dataPermissions"/>

        <result column="company_info_finish_sign" property="companyInfoFinishSign"/>
        <result column="investment_label" property="investmentLabel" typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.ListJsonTypeHandler"/>
        <result column="operation_label" property="operationLabel" typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.ListJsonTypeHandler"/>
        <result column="commercial_label" property="commercialLabel" typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.ListJsonTypeHandler"/>
        <result column="project_label" property="projectLabel" typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.ListJsonTypeHandler"/>
        <result column="investment_remark" property="investmentRemark"/>
        <result column="commercial_remark" property="commercialRemark"/>
        <result column="operation_remark" property="operationRemark"/>
        <result column="we_chat_user_id" property="weChatUserId"/>

    </resultMap>

    <select id="selectOne" resultMap="BaseResultMap">
        <include refid="baseSelect"/>
    </select>
    <select id="selectById" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List"/>
        from tb_register_info ri
        left join tb_dict_area a on ri.area_code = left(a.code, 6) where ri.id=#{id}
    </select>

    <sql id="baseSelect">
        select
        <include refid="Base_Column_List"/>
        from tb_register_info ri
        left join tb_dict_area a on ri.area_code = left(a.code, 6)
        ${ew.customSqlSegment}
    </sql>

    <select id="list" resultMap="BaseResultMap"
            parameterType="com.yjtech.wisdom.tourism.bigscreen.entity.TbRegisterInfoEntity">
        select
        <include refid="Base_Column_List"/>
        from tb_register_info ri
                     left join tb_dict_area a on ri.area_code = left(a.code, 6)
        <where>
            <include refid="dynamic_where"/>
        </where>
    </select>

    <select id="queryForPageByType" resultMap="BaseResultMap"
            resultType="com.yjtech.wisdom.tourism.bigscreen.entity.TbRegisterInfoEntity"
            parameterType="com.yjtech.wisdom.tourism.bigscreen.dto.TbRegisterInfoParam">
        select
        <include refid="Base_Column_List"/>
        from tb_register_info ri
                     left join tb_dict_area a on ri.area_code = left(a.code, 6)
        <where>
            1 = 1
            <if test="params.areaCode != null">
                and ri.area_code LIKE CONCAT(#{params.areaCode},'%')
            </if>
            <!-- 投资方 -->
            <if test="params.type != null and params.type == 1">
                and ri.investment_label is not null
            </if>
            <!-- 业态方 -->
            <if test="params.type != null and params.type == 2">
                and ri.commercial_label is not null
            </if>
            <!-- 运营方 -->
            <if test="params.type != null and params.type == 3">
                and ri.operation_label is not null
            </if>
            <!-- 项目方 -->
            <if test="params.type != null and params.type == 4">
                and ri.project_label is not null
            </if>

            <if test="params.companyName != null and params.companyName != ''">
                and ri.company_name LIKE CONCAT('%', #{params.companyName},'%')
            </if>

            <if test="params.label != null and params.label != ''">
                and ri.company_name LIKE CONCAT('%', #{params.label},'%')
            </if>

            and ri.audit_status = 1
            and ri.blacklist = false
            and ri.company_info_finish_sign = 1
        </where>
        order by ri.audit_time desc
    </select>

    <select id="recommendCompany" resultMap="BaseResultMap"
            parameterType="com.yjtech.wisdom.tourism.bigscreen.dto.RecommendParam">
        select
        <include refid="Base_Column_List"/>
        from tb_register_info ri
                     left join tb_dict_area a on ri.area_code = left(a.code, 6)
        <where>
            1 = 1
            <if test="params.areaCode != null">
                and ri.area_code LIKE CONCAT(#{params.areaCode},'%')
            </if>
            <!-- 投资方 -->
            <if test="params.type != null and params.type == 1">
                and ri.investment_label is not null
            </if>
            <!-- 业态方 -->
            <if test="params.type != null and params.type == 2">
                and ri.commercial_label is not null
            </if>
            <!-- 运营方 -->
            <if test="params.type != null and params.type == 3">
                and ri.operation_label is not null
            </if>
            <!-- 项目方 -->
            <if test="params.type != null and params.type == 4">
                and ri.project_label is not null
            </if>
            and ri.audit_status = 1
            and ri.blacklist = false
            and ri.company_info_finish_sign = 1
        </where>
    </select>


    <select id="selectMap" resultType="com.yjtech.wisdom.tourism.bigscreen.entity.TbRegisterInfoEntity">
        select id,company_name as companyName from tb_register_info
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ri.*,
        a.province_name,
        a.city_name,
        a.county_name
    </sql>

    <sql id="dynamic_where">
        <if test="params != null">
            <if test="params.id != null">
                and ri.id = #{params.id}
            </if>
            <if test="params.companyName != null and params.companyName.trim() != ''">
                and company_name like CONCAT('%','${params.companyName}','%' )
            </if>
            <if test="params.companyType != null and params.companyType.trim() != ''">
                and company_type like CONCAT('%','${params.companyType}','%' )
            </if>
            <if test="params.companyNameEn != null and params.companyNameEn.trim() != ''">
                and company_name_en like CONCAT('%','${params.companyNameEn}','%' )
            </if>
            <if test="params.phone != null and params.phone.trim() != ''">
                and phone like CONCAT('%','${params.phone}','%' )
            </if>
            <if test="params.pwd != null and params.pwd.trim() != ''">
                and pwd like CONCAT('%','${params.pwd}','%' )
            </if>
            <if test="params.address != null and params.address.trim() != ''">
                and address like CONCAT('%','${params.address}','%' )
            </if>
            <if test="params.email != null and params.email.trim() != ''">
                and email like CONCAT('%','${params.email}','%' )
            </if>
            <if test="params.longtitude != null and params.longtitude != ''">
                and longtitude = #{params.longtitude}
            </if>
            <if test="params.latitude != null and params.latitude != ''">
                and latitude = #{params.latitude}
            </if>
            <if test="params.label != null and params.label.trim() != ''">
                and label like CONCAT('%','${params.label}','%' )
            </if>
            <if test="params.registeredCapital != null">
                and registered_capital = #{params.registeredCapital}
            </if>
            <if test="params.registeredYear != null">
                and registered_year = #{params.registeredYear}
            </if>
            <if test="params.mainBusiness != null and params.mainBusiness.trim() != ''">
                and main_business like CONCAT('%','${params.mainBusiness}','%' )
            </if>
            <if test="params.businessScope != null and params.businessScope.trim() != ''">
                and business_scope = #{params.businessScope}
            </if>
            <if test="params.investmentDirection != null">
                and investment_direction = #{params.investmentDirection}
            </if>
            <if test="params.investmentProject != null">
                and investment_project = #{params.investmentProject}
            </if>
            <if test="params.qualificationImgs != null">
                and qualification_imgs = #{params.qualificationImgs}
            </if>
            <if test="params.commercialDirection != null">
                and commercial_direction = #{params.commercialDirection}
            </if>
            <if test="params.operationDirection != null">
                and operation_direction = #{params.operationDirection}
            </if>
            <if test="params.type != null">
                and ri.type = #{params.type}
            </if>
            <if test="params.createUser != null">
                and ri.create_user = #{params.createUser}
            </if>
            <if test="params.updateUser != null">
                and ri.update_user = #{params.updateUser}
            </if>
            <if test="params.createTime != null">
                <!--  and  create_time between #{params.beginDate} and #{params.endDate}  -->
                and ri.create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null">
                <!--  and  update_time between #{params.beginDate} and #{params.endDate}  -->
                and ri.update_time = #{params.updateTime}
            </if>
            <if test="params.status != null">
                and ri.status = #{params.status}
            </if>
            <if test="params.deleted != null">
                and ri.deleted = #{params.deleted}
            </if>
            <if test="params.auditStatus != null">
                and audit_status = #{params.auditStatus}
            </if>
            <if test="params.blacklist != null">
                and blacklist = #{params.blacklist}
            </if>
            <if test="params.auditTime != null">
                and audit_time = #{params.auditTime}
            </if>
            <if test="params.areaCode != null">
                and ri.area_code = #{params.areaCode}
            </if>
            <if test="params.likeAreaCode != null">
                and ri.area_code LIKE CONCAT(#{params.likeAreaCode},'%')
            </if>


            <if test="params.companyInfoFinishSign != null">
                and ri.company_info_finish_sign = #{params.companyInfoFinishSign}
            </if>
            <if test="params.investmentLabel != null">
                and ri.investment_label = #{params.investmentLabel}
            </if>
            <if test="params.operationLabel != null">
                and ri.operation_label = #{params.operationLabel}
            </if>
            <if test="params.commercialLabel != null">
                and ri.commercial_label = #{params.commercialLabel}
            </if>
            <if test="params.projectLabel != null">
                and ri.project_label = #{params.projectLabel}
            </if>
            <if test="params.investmentRemark != null">
                and ri.investment_remark = #{params.investmentRemark}
            </if>
            <if test="params.commercialRemark != null">
                and ri.commercial_remark = #{params.commercialRemark}
            </if>
            <if test="params.operationRemark != null">
                and ri.operation_remark = #{params.operationRemark}
            </if>
            <if test="params.weChatUserId != null">
                and ri.we_chat_user_id = #{params.weChatUserId}
            </if>
        </if>
    </sql>
</mapper>
