<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.command.mapper.meeting.AudioMeetingMapper">


    <update id="incrementInventory">
        UPDATE tb_audio_meeting
        SET number = number - #{num}
        WHERE
            number - #{num} >= 0  and  id = #{id}
    </update>

    <update id="minusInventory">
        UPDATE tb_audio_meeting
        SET number = number + #{num}
        WHERE
             id = #{id}
    </update>
</mapper>
