<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.command.mapper.event.EventMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjtech.wisdom.tourism.command.vo.event.AppEventDetail">
        <id column="id" property="id" />
        <result column="create_user" property="createUser" />
        <result column="name" property="name" />
        <result column="event_type" property="eventType" />
        <result column="event_level" property="eventLevel" />
        <result column="event_date" property="eventDate" />
        <result column="address" property="address" />
        <result column="latitude" property="latitude" />
        <result column="longitude" property="longitude" />
        <result column="description" property="description" />
        <result column="plan_id" property="planId" />
        <result column="image_path" property="imagePath" typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.JsonTypeHandler"/>
        <result column="event_status" property="eventStatus" />
        <result column="handle_department" property="handleDepartment" />
        <result column="handle_personnel" property="handlePersonnel" />
        <result column="handle_date" property="handleDate" />
        <result column="handle_results" property="handleResults" />
    </resultMap>

    <resultMap id="EventListVOMap" type="com.yjtech.wisdom.tourism.command.vo.event.EventListVO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="event_type" property="eventType" />
        <result column="event_date" property="eventDate" />
        <result column="address" property="address" />
        <result column="appoint_handle_personnel" property="appointHandlePersonnel" typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.JsonTypeHandler"/>
        <result column="event_status" property="eventStatus" />
        <result column="status" property="status" />
        <result column="appoint_status" property="appointStatus" />
    </resultMap>

    <select id="queryUserById" resultType="com.yjtech.wisdom.tourism.infrastructure.core.domain.entity.SysUser">
        select * from sys_user
        <foreach collection="userIds" item="userId" open="where user_id in (" separator="," close=")">
            #{userId}
        </foreach>
    </select>

    <select id="queryForList" resultMap="EventListVOMap">
        SELECT
            id,
            NAME,
            event_type,
            event_status,
            event_date,
            address,
            status,
            appoint_handle_personnel,
            appoint_status
        FROM
            `tb_event`
            ${ew.customSqlSegment}
    </select>

    <select id="queryForDetail" resultMap="BaseResultMap">
        SELECT
            id,
            NAME,
            event_type,
            event_level,
            event_date,
            address,
            latitude,
            longitude,
            description,
            image_path,
            event_status,
            plan_id,
            handle_department,
            handle_personnel,
            handle_date,
            handle_results,
            create_user
        FROM
            `tb_event`
            <where>
                id = #{id}
            </where>
    </select>
</mapper>
