<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.command.mapper.event.EventMapper">

    <sql id="condition_sql_where">
        <if test="params.year != null">
            and year = #{params.year}
        </if>
        <if test="params.month != null">
            and month = #{params.month}
        </if>
        <if test="params.day != null">
            and day = #{params.day}
        </if>
        <if test="params.hour != null">
            and hour = #{params.hour}
        </if>
        <if test="params.beginTime != null and params.endTime != null">
            and event_date >= #{params.beginTime} and event_date <![CDATA[<=]]> #{params.endTime}
        </if>
        and deleted = 0
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjtech.wisdom.tourism.command.vo.event.AppEventDetail">
        <id column="id" property="id" />
        <result column="create_user" property="createUser" />
        <result column="name" property="name" />
        <result column="event_type" property="eventType" />
        <result column="event_level" property="eventLevel" />
        <result column="event_date" property="eventDate" />
        <result column="address" property="address" />
        <result column="latitude" property="latitude" />
        <result column="longitude" property="longitude" />
        <result column="description" property="description" />
        <result column="plan_id" property="planId" />
        <result column="image_path" property="imagePath" typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.JsonTypeHandler"/>
        <result column="event_status" property="eventStatus" />
        <result column="handle_department" property="handleDepartment" />
        <result column="handle_date" property="handleDate" />
        <result column="handle_results" property="handleResults" />
        <result column="appoint_handle_personnel" property="appointHandlePersonnel" typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.JsonTypeHandler"/>
        <result column="actual_handle_personnel" property="actualHandlePersonnel" />
    </resultMap>

    <resultMap id="EventListVOMap" type="com.yjtech.wisdom.tourism.command.vo.event.EventListVO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="event_type" property="eventType" />
        <result column="event_date" property="eventDate" />
        <result column="address" property="address" />
        <result column="appoint_handle_personnel" property="appointHandlePersonnel" typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.JsonTypeHandler"/>
        <result column="event_status" property="eventStatus" />
        <result column="status" property="status" />
    </resultMap>

    <select id="queryUserById" resultType="com.yjtech.wisdom.tourism.infrastructure.core.domain.entity.SysUser">
        select * from sys_user
        <foreach collection="userIds" item="userId" open="where user_id in (" separator="," close=")">
            #{userId}
        </foreach>
    </select>

    <select id="queryForList" resultMap="EventListVOMap">
        SELECT
            id,
            NAME,
            event_type,
            event_status,
            event_date,
            address,
            status,
            appoint_handle_personnel
        FROM
            `tb_event`
            ${ew.customSqlSegment}
    </select>

    <select id="queryForDetail" resultMap="BaseResultMap">
        SELECT
            id,
            NAME,
            event_type,
            event_level,
            event_date,
            address,
            latitude,
            longitude,
            description,
            image_path,
            event_status,
            plan_id,
            handle_department,
            handle_date,
            handle_results,
            create_user,
            appoint_handle_personnel,
            actual_handle_personnel
        FROM
            `tb_event`
            <where>
                id = #{id}
                and deleted = 0
            </where>
    </select>




    <select id="queryUserById" resultType="com.yjtech.wisdom.tourism.infrastructure.core.domain.entity.SysUser">
        select * from sys_user
        <foreach collection="userIds" item="userId" open="where user_id in (" separator="," close=")">
            #{userId}
        </foreach>
    </select>


    <select id="queryQuantity" resultType="integer"
            parameterType="com.yjtech.wisdom.tourism.command.query.event.EventSumaryQuery">
        SELECT
        COALESCE(count( 1 ),0) AS quantity
        FROM
        tb_event
        <where>
            <if test="params.beginTime != null and params.endTime != null">
                and event_date >= #{params.beginTime} and event_date <![CDATA[<]]> #{params.endTime}
            </if>
            and deleted = 0 and status  = 1
        </where>
    </select>

    <select id="queryTrend" resultType="com.yjtech.wisdom.tourism.command.vo.event.EventTrendVO"
            parameterType="com.yjtech.wisdom.tourism.command.query.event.EventSumaryQuery">
        SELECT
        DATE_FORMAT( event_date, #{params.sqlDateFormat} ) AS time,
        COALESCE(count( 1 ),0) AS quantity
        FROM
        tb_event
        <where>
            <include refid="condition_sql_where"></include>
        </where>
        GROUP BY
        DATE_FORMAT( event_date, #{params.sqlDateFormat} )
    </select>

    <select id="queryQuantityByStatus" resultType="integer"
            parameterType="com.yjtech.wisdom.tourism.command.query.event.EventSumaryQuery">
        SELECT
        COALESCE(count( 1 ),0) AS quantity
        FROM
        tb_event
        <where>
            <if test="params.beginTime != null and params.endTime != null">
                and tb_event >= #{params.beginTime} and tb_event <![CDATA[<]]> #{params.endTime}
            </if>
            <if test="params.eventStatus != null and params.eventStatus != ''">
                and event_status = #{params.eventStatus}
            </if>
            and deleted = 0 and status  = 1
        </where>
    </select>

    <select id="queryEventType" resultType="com.yjtech.wisdom.tourism.common.bean.BasePercentVO"
            parameterType="com.yjtech.wisdom.tourism.command.query.event.EventSumaryQuery">
        SELECT
        event_type name,
        count(1) AS value
        FROM
        tb_event
        <where>
            <include refid="condition_sql_where"></include>
        </where>
        GROUP BY
        event_type
    </select>

    <select id="queryEventLevel" resultType="com.yjtech.wisdom.tourism.common.bean.BaseVO"
            parameterType="com.yjtech.wisdom.tourism.command.query.event.EventSumaryQuery">
        SELECT
        event_level name,
        count(1) AS value
        FROM
        tb_event
        <where>
            <include refid="condition_sql_where"></include>
        </where>
        GROUP BY
        event_level
    </select>

    <!-- 通过事件id，查询事件信息 -->
    <select id="queryEvent" resultType="com.yjtech.wisdom.tourism.common.sms.MessageCallDto"
            parameterType="long">
        select
        id as eventId,
        name as event_name,
        CASE
            WHEN status = 0 THEN 0
            WHEN status = 1 THEN 1
            WHEN status = 2 THEN 1
            WHEN status = 3 THEN 2
            ELSE null END as event_status,
        CASE
            WHEN status = 0 THEN '待指派'
            WHEN status = 1 THEN '待处理'
            WHEN status = 2 THEN '待处理'
            WHEN status = 3 THEN '已处理'
            ELSE '-' END as event_status_text,
        event_date as eventHappenDate,
        '应急事件' as eventBusinessTypeText,
        address as eventHappenAddress,
        create_user as eventHappenPerson,
        create_time as createTime
        from
        tb_event complaint
        <where>
            <if test="null != ids and ids.length > 0">
                id in
                <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
                and
            </if>
            deleted = 0
        </where>
    </select>
</mapper>
