<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjtech.wisdom.tourism.command.mapper.travelcomplaint.TravelComplaintMapper">

    <resultMap id="BaseResultMap" type="com.yjtech.wisdom.tourism.command.entity.travelcomplaint.TravelComplaintEntity">
        <!--@Table tb_travel_complaint-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <result property="complaintType" column="complaint_type" jdbcType="TINYINT"/>
        <result property="complaintObject" column="complaint_object" jdbcType="VARCHAR"/>
        <result property="objectId" column="object_id" jdbcType="INTEGER"/>
        <result property="location" column="location" jdbcType="VARCHAR"/>
        <result property="longitude" column="longitude" jdbcType="DECIMAL"/>
        <result property="latitude" column="latitude" jdbcType="DECIMAL"/>
        <result property="contactUser" column="contact_user" jdbcType="VARCHAR"/>
        <result property="contactMobile" column="contact_mobile" jdbcType="VARCHAR"/>
        <result property="complaintReason" column="complaint_reason" jdbcType="VARCHAR"/>
        <result property="image" column="image" jdbcType="VARCHAR"
                typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.JsonTypeHandler"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="equipStatus" column="equip_status" jdbcType="TINYINT"/>
        <result property="acceptUserId" column="accept_user_id" jdbcType="INTEGER"/>
        <result property="acceptOrganization" column="accept_organization" jdbcType="VARCHAR"/>
        <result property="acceptTime" column="accept_time" jdbcType="TIMESTAMP"/>
        <result property="acceptResult" column="accept_result" jdbcType="VARCHAR"/>
        <result property="assignAcceptUserId" column="assign_accept_user_id" jdbcType="VARCHAR"
                typeHandler="com.yjtech.wisdom.tourism.mybatis.typehandler.JsonTypeHandler"/>
        <result property="complaintTime" column="complaint_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryEntityById" resultMap="BaseResultMap" parameterType="long">
        select
        id,
        create_time,
        update_time,
        create_user,
        update_user,
        deleted,
        complaint_type,
        CASE
        WHEN complaint_type = 0 THEN complaint_object
        WHEN complaint_type = 1 THEN (select name from tb_scenic <where> id = complaint.object_id </where>)
        WHEN complaint_type = 2 THEN (select name from tb_hotel_info <where> id = complaint.object_id </where>)
        ELSE '其他' END as complaint_object,
        object_id,
        location,
        longitude,
        latitude,
        contact_user,
        contact_mobile,
        complaint_reason,
        image,
        status,
        equip_status,
        accept_user_id,
        (select nick_name from sys_user where user_id = accept_user_id and deleted = 0) as acceptUser,
        accept_organization,
        accept_time,
        accept_result,
        assign_accept_user_id,
        complaint_time
        from
        tb_travel_complaint complaint
        <where>
            id = #{id} and
            deleted = 0
        </where>
    </select>

    <select id="queryForPage" resultType="com.yjtech.wisdom.tourism.command.dto.travelcomplaint.TravelComplaintListDTO"
            parameterType="com.yjtech.wisdom.tourism.command.vo.travelcomplaint.TravelComplaintQueryVO">
        select
        id as id,
        CASE
        WHEN complaint_type = 0 THEN complaint_object
        WHEN complaint_type = 1 THEN (select name from tb_scenic <where> id = complaint.object_id </where>)
        WHEN complaint_type = 2 THEN (select name from tb_hotel_info <where> id = complaint.object_id </where>)
        ELSE '其他' END as complaintObject,
        object_id as objectId,
        location as location,
        complaint_type as complaintType,
        CASE
        WHEN complaint_type = 0 THEN '其他'
        WHEN complaint_type = 1 THEN '景区'
        WHEN complaint_type = 2 THEN '酒店'
        ELSE '-' END as complaintTypeDesc,
        status as status,
        CASE
        WHEN status = 0 THEN '待指派'
        WHEN status = 1 THEN '待处理'
        WHEN status = 2 THEN '已处理'
        ELSE '-' END as statusDesc,
        equip_status as equipStatus,
        CASE
        WHEN equip_status = 0 THEN '禁用'
        WHEN equip_status = 1 THEN '启用'
        ELSE '-' END as equipStatusDesc,
        complaint_time as complaintTime
        from
        tb_travel_complaint complaint
        <where>
            <if test="params != null">
                <if test="params.complaintObject != null and params.complaintObject != ''">
                    complaint_object LIKE CONCAT('%', #{params.complaintObject}, '%') and
                </if>
                <if test="params.objectId != null">
                    object_id = #{params.objectId} and
                </if>
                <if test="params.complaintType != null">
                    complaint_type = #{params.complaintType} and
                </if>
                <if test="params.status != null">
                    status = #{params.status} and
                </if>
                <if test="params.equipStatus != null">
                    equip_status = #{params.equipStatus} and
                </if>
                <if test="params.acceptUserId != null">
                    accept_user_id = #{params.acceptUserId} and
                </if>
                <if test="params.createUser != null">
                    create_user = #{params.createUser} and
                </if>
                <if test="params.beginTime != null and params.endTime != null">
                    complaint_time >= #{params.beginTime} and complaint_time <![CDATA[<=]]> #{params.endTime} and
                </if>
            </if>
            deleted = 0
        </where>
        ORDER BY status, complaint_time DESC
    </select>

    <select id="queryStatusStatistics"
            resultType="com.yjtech.wisdom.tourism.command.dto.travelcomplaint.TravelComplaintStatusStatisticsDTO"
            parameterType="com.yjtech.wisdom.tourism.command.vo.travelcomplaint.TravelComplaintQueryVO">
        select
        <!-- 总计 -->
        (select count(id) from tb_travel_complaint
        <where>
            <if test="params != null">
                <if test="params.equipStatus != null">
                    equip_status = #{params.equipStatus} and
                </if>
                <if test="params.createUser != null">
                    create_user = #{params.createUser} and
                </if>
            </if>
            deleted = 0
        </where>
        ) as total,
        <!-- 待处理 -->
        (select count(id) from tb_travel_complaint
        <where>
            <if test="params != null">
                <if test="params.equipStatus != null">
                    equip_status = #{params.equipStatus} and
                </if>
                <if test="params.acceptUserId != null">
                    accept_user_id = #{params.acceptUserId} and
                </if>
            </if>
            status = 1 and
            deleted = 0
        </where>
        ) as noDeal,
        <!-- 已处理 -->
        (select count(id) from tb_travel_complaint
        <where>
            <if test="params != null">
                <if test="params.equipStatus != null">
                    equip_status = #{params.equipStatus} and
                </if>
                <if test="params.acceptUserId != null">
                    accept_user_id = #{params.acceptUserId} and
                </if>
            </if>
            status = 2 and
            deleted = 0
        </where>
        ) as dealFinished
    </select>

    <select id="queryComplaintTypeDistribution" resultType="com.yjtech.wisdom.tourism.common.bean.BasePercentVO"
            parameterType="com.yjtech.wisdom.tourism.command.vo.travelcomplaint.TravelComplaintScreenQueryVO">
        select
        CASE
        WHEN complaint_type = 0 THEN '其他'
        WHEN complaint_type = 1 THEN '景区'
        WHEN complaint_type = 2 THEN '酒店'
        ELSE '-' END as name,
        COUNT(id) as value,
        COALESCE (ROUND(COUNT(id)/total.totalNum, 3)*100,0) as rate
        from
        tb_travel_complaint
        INNER JOIN
        (select
        COUNT(id) as totalNum
        from
        tb_travel_complaint
        <where>
            <include refid="base_screen_query"/>
        </where>
        ) as total ON 1 = 1
        <where>
            <include refid="base_screen_query"/>
        </where>
        GROUP BY complaint_type
    </select>

    <select id="queryComplaintStatusDistribution" resultType="com.yjtech.wisdom.tourism.common.bean.BasePercentVO"
            parameterType="com.yjtech.wisdom.tourism.command.vo.travelcomplaint.TravelComplaintScreenQueryVO">
        select
        CASE
        WHEN status = 0 THEN '待指派'
        WHEN status = 1 THEN '待处理'
        WHEN status = 2 THEN '已处理'
        ELSE '-' END as name,
        COUNT(id) as value,
        COALESCE (ROUND(COUNT(id)/total.totalNum, 3)*100,0) as rate
        from
        tb_travel_complaint
        INNER JOIN
        (select
        COUNT(id) as totalNum
        from
        tb_travel_complaint
        <where>
            <include refid="base_screen_query"/>
        </where>
        ) as total ON 1 = 1
        <where>
            <include refid="base_screen_query"/>
        </where>
        GROUP BY status
    </select>

    <select id="queryComplaintTopByType" resultType="com.yjtech.wisdom.tourism.common.bean.BaseVO"
            parameterType="com.yjtech.wisdom.tourism.command.vo.travelcomplaint.TravelComplaintScreenQueryVO">
        select
        CASE
        WHEN complaint_type = 1 THEN COALESCE ((select name from tb_scenic <where> id = complaint.object_id </where>),'景区')
        WHEN complaint_type = 2 THEN COALESCE ((select name from tb_hotel_info <where> id = complaint.object_id </where>),'酒店')
        ELSE complaint_object END as name,
        COUNT(id) as value
        from
        tb_travel_complaint complaint
        <where>
            <include refid="base_screen_query"/>
        </where>
        <choose>
            <when test="params.complaintType == 1 or params.complaintType == 2">
                GROUP BY object_id
            </when>
            <otherwise>
                GROUP BY complaint_object
            </otherwise>
        </choose>
        ORDER BY value DESC
    </select>

    <!-- 查询旅游投诉今年搜索月趋势 -->
    <select id="queryComplaintCurrentAnalysisMonthInfo" resultType="com.yjtech.wisdom.tourism.common.bean.AnalysisMonthChartInfo"
            parameterType="com.yjtech.wisdom.tourism.command.vo.travelcomplaint.TravelComplaintScreenQueryVO">
        SELECT
        DATE_FORMAT(a.complaint_time,#{params.sqlDateFormat}) as time,
        COUNT(a.id) as count,
        ROUND(((COUNT(a.id) -
        (select
        COUNT(id)
        from
        tb_travel_complaint
        <where>
            complaint_time like concat(left((SELECT DATE_SUB(a.complaint_time,INTERVAL 1 YEAR)),7),'%') and
            equip_status = 0 and
            deleted = 0
        </where>
        ))/(select COUNT(id)
        from
        tb_travel_complaint
        <where>
            complaint_time like concat(left((SELECT DATE_SUB(a.complaint_time,INTERVAL 1 YEAR)),7),'%') and
            equip_status = 0 and
            deleted = 0
        </where>
        )),3)*100 as same,
        ROUND(((COUNT(a.id) -
        (select COUNT(id)
        from
        tb_travel_complaint
        <where>
            complaint_time like concat(left((SELECT DATE_SUB(a.complaint_time,INTERVAL 1 MONTH)),7),'%') and
            equip_status = 0 and
            deleted = 0
        </where>
        ))/(select COUNT(id)
        from
        tb_travel_complaint
        <where>
            complaint_time like concat(left((SELECT DATE_SUB(a.complaint_time,INTERVAL 1 MONTH)),7),'%') and
            equip_status = 0 and
            deleted = 0
        </where>
        )),3)*100 as sequential
        from tb_travel_complaint a
        <where>
            <![CDATA[ a.complaint_time >= CONCAT(YEAR(now()),'-01-01 00:00:00') and ]]>
            <![CDATA[ a.complaint_time <= CONCAT(YEAR(now()),'-12-31 23:59:59') and ]]>
            equip_status = 0 and
            deleted = 0
        </where>
        GROUP BY DATE_FORMAT(a.complaint_time,#{params.sqlDateFormat})
    </select>

    <!-- 查询旅游投诉去年搜索月趋势 -->
    <select id="queryComplaintLastAnalysisMonthInfo" resultType="com.yjtech.wisdom.tourism.common.bean.AnalysisMonthChartInfo"
            parameterType="com.yjtech.wisdom.tourism.command.vo.travelcomplaint.TravelComplaintScreenQueryVO">
        SELECT
        DATE_FORMAT(complaint_time,#{params.sqlDateFormat}) as time,
        COUNT(id) as count
        from tb_travel_complaint
        <where>
            create_time like concat(YEAR(now())-1,'%') and
            equip_status = 0 and
            deleted = 0
        </where>
        GROUP BY DATE_FORMAT(complaint_time,#{params.sqlDateFormat})
    </select>

    <!-- 通过事件id，查询事件信息 -->
    <select id="queryEvent" resultType="com.yjtech.wisdom.tourism.common.sms.MessageCallDto"
            parameterType="long">
        select
        id as eventId,
        CASE
        WHEN complaint_type = 0 THEN complaint_object
        WHEN complaint_type = 1 THEN (select name from tb_scenic <where> id = complaint.object_id </where>)
        WHEN complaint_type = 2 THEN (select name from tb_hotel_info <where> id = complaint.object_id </where>)
        ELSE '其他' END as eventName,
        status as eventStatus,
        CASE
        WHEN status = 0 THEN '待指派'
        WHEN status = 1 THEN '待处理'
        WHEN status = 2 THEN '已处理'
        ELSE '-' END as eventStatusText,
        complaint_time as eventHappenDate,
        '旅游投诉' as eventBusinessTypeText,
        location as eventHappenAddress,
        contact_user as eventHappenPerson,
        create_time as createTime
        from
        tb_travel_complaint
        <where>
            <if test="null != ids and ids.length > 0">
                id in
                <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
                and
            </if>
            deleted = 0
        </where>
    </select>

    <sql id="base_screen_query">
        <if test="params != null">
            <if test="params.complaintType != null">
                complaint_type = #{params.complaintType} and
            </if>
            <if test="params.status != null">
                status = #{params.status} and
            </if>
            <if test="params.equipStatus != null">
                equip_status = #{params.equipStatus} and
            </if>
            <if test="params.beginTime != null">
                <![CDATA[ complaint_time >= #{params.beginTime} ]]> and
            </if>
            <if test="params.endTime != null">
                <![CDATA[ complaint_time <= #{params.endTime} ]]> and
            </if>
        </if>
        deleted = 0
    </sql>

    <sql id="base_result">
        id,
        create_time,
        update_time,
        create_user,
        update_user,
        deleted,
        complaint_type,
        complaint_object,
        object_id,
        location,
        longitude,
        latitude,
        contact_user,
        contact_mobile,
        complaint_reason,
        image,
        status,
        equip_status,
        accept_user_id,
        accept_organization,
        accept_time,
        accept_result,
        assign_accept_user_id,
        complaint_time
    </sql>

</mapper>
